CasaSicura_NodeRed.json
[
    { "id": "faa08695e1670414", "type": "tab", "label": "allarme casasicura", "disabled": false, "info": "" },
    {
        "id": "ccfe34d1c94861fb",
        "type": "mqtt in",
        "z": "faa08695e1670414",
        "name": "",
        "topic": "home/alarm/set",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c851cc16.b7689",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 320,
        "y": 360,
        "wires": [["8b63d5ad08dcbb37"]]
    },
    { "id": "ef2b531a6aa04646", "type": "mqtt out", "z": "faa08695e1670414", "name": "", "topic": "home/alarm/state", "qos": "2", "retain": "", "broker": "c851cc16.b7689", "x": 990, "y": 1080, "wires": [] },
    {
        "id": "addcd05142ea32c4",
        "type": "ha-binary-sensor",
        "z": "faa08695e1670414",
        "name": "Camera letto",
        "entityConfig": "779b93e72e4a751d",
        "version": 0,
        "state": "payload.zones[0].open",
        "stateType": "msg",
        "attributes": [
            { "property": "bypass", "value": "payload.zones[0].bypass", "valueType": "msg" },
            { "property": "lowbat", "value": "payload.zones[0].lowbat", "valueType": "msg" },
            { "property": "type", "value": "payload.zones[0].type", "valueType": "msg" },
            { "property": "fault", "value": "payload.zones[0].fault", "valueType": "msg" },
            { "property": "message", "value": "payload.zones[0].message", "valueType": "msg" },
            { "property": "name", "value": "payload.zones[0].name", "valueType": "msg" },
            { "property": "open", "value": "payload.zones[0].open", "valueType": "msg" },
            { "property": "id", "value": "payload.zones[0].id", "valueType": "msg" },
            { "property": "lastChecked", "value": "payload.zones[0].lastChecked", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1950,
        "y": 1000,
        "wires": [["e1f79f32acbe13a4"]]
    },
    {
        "id": "bd909e7bb5d3d288",
        "type": "ha-binary-sensor",
        "z": "faa08695e1670414",
        "name": "Bagno",
        "entityConfig": "0540267783e8e6f3",
        "version": 0,
        "state": "payload.zones[1].open",
        "stateType": "msg",
        "attributes": [
            { "property": "bypass", "value": "payload.zones[1].bypass", "valueType": "msg" },
            { "property": "lowbat", "value": "payload.zones[1].lowbat", "valueType": "msg" },
            { "property": "type", "value": "payload.zones[1].type", "valueType": "msg" },
            { "property": "fault", "value": "payload.zones[1].fault", "valueType": "msg" },
            { "property": "message", "value": "payload.zones[1].message", "valueType": "msg" },
            { "property": "name", "value": "payload.zones[1].name", "valueType": "msg" },
            { "property": "open", "value": "payload.zones[1].open", "valueType": "msg" },
            { "property": "id", "value": "payload.zones[1].id", "valueType": "msg" },
            { "property": "lastChecked", "value": "payload.zones[1].lastChecked", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1930,
        "y": 1140,
        "wires": [["60e9b54a07ac4333"]]
    },
    {
        "id": "a689663b9c2a7bc9",
        "type": "ha-binary-sensor",
        "z": "faa08695e1670414",
        "name": "Cucina",
        "entityConfig": "1e805f8d047dd248",
        "version": 0,
        "state": "payload.zones[2].open",
        "stateType": "msg",
        "attributes": [
            { "property": "bypass", "value": "payload.zones[2].bypass", "valueType": "msg" },
            { "property": "lowbat", "value": "payload.zones[2].lowbat", "valueType": "msg" },
            { "property": "type", "value": "payload.zones[2].type", "valueType": "msg" },
            { "property": "fault", "value": "payload.zones[2].fault", "valueType": "msg" },
            { "property": "message", "value": "payload.zones[2].message", "valueType": "msg" },
            { "property": "name", "value": "payload.zones[2].name", "valueType": "msg" },
            { "property": "open", "value": "payload.zones[2].open", "valueType": "msg" },
            { "property": "id", "value": "payload.zones[2].id", "valueType": "msg" },
            { "property": "lastChecked", "value": "payload.zones[2].lastChecked", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1940,
        "y": 1260,
        "wires": [["b4556a5d21b5c173"]]
    },
    {
        "id": "eeb1927d26111b3c",
        "type": "ha-binary-sensor",
        "z": "faa08695e1670414",
        "name": "Bagnetto",
        "entityConfig": "537e43dfc182bae3",
        "version": 0,
        "state": "payload.zones[3].open",
        "stateType": "msg",
        "attributes": [
            { "property": "bypass", "value": "payload.zones[3].bypass", "valueType": "msg" },
            { "property": "lowbat", "value": "payload.zones[3].lowbat", "valueType": "msg" },
            { "property": "type", "value": "payload.zones[3].type", "valueType": "msg" },
            { "property": "fault", "value": "payload.zones[3].fault", "valueType": "msg" },
            { "property": "message", "value": "payload.zones[3].message", "valueType": "msg" },
            { "property": "name", "value": "payload.zones[3].name", "valueType": "msg" },
            { "property": "open", "value": "payload.zones[3].open", "valueType": "msg" },
            { "property": "id", "value": "payload.zones[3].id", "valueType": "msg" },
            { "property": "lastChecked", "value": "payload.zones[3].lastChecked", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1940,
        "y": 1380,
        "wires": [["b60897d411237809"]]
    },
    {
        "id": "d88298d39f08ef5c",
        "type": "ha-binary-sensor",
        "z": "faa08695e1670414",
        "name": "Studio",
        "entityConfig": "cffb3f8348d3e7db",
        "version": 0,
        "state": "payload.zones[4].open",
        "stateType": "msg",
        "attributes": [
            { "property": "bypass", "value": "payload.zones[4].bypass", "valueType": "msg" },
            { "property": "lowbat", "value": "payload.zones[4].lowbat", "valueType": "msg" },
            { "property": "type", "value": "payload.zones[4].type", "valueType": "msg" },
            { "property": "fault", "value": "payload.zones[4].fault", "valueType": "msg" },
            { "property": "message", "value": "payload.zones[4].message", "valueType": "msg" },
            { "property": "name", "value": "payload.zones[4].name", "valueType": "msg" },
            { "property": "open", "value": "payload.zones[4].open", "valueType": "msg" },
            { "property": "id", "value": "payload.zones[4].id", "valueType": "msg" },
            { "property": "lastChecked", "value": "payload.zones[4].lastChecked", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1930,
        "y": 1480,
        "wires": [["c3fab742e9938290"]]
    },
    {
        "id": "c3fab742e9938290",
        "type": "ha-binary-sensor",
        "z": "faa08695e1670414",
        "name": "batteria Studio",
        "entityConfig": "08e4c0f22a60833d",
        "version": 0,
        "state": "payload.zones[4].lowbat",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2220,
        "y": 1540,
        "wires": [["ef3360266d87f92d"]]
    },
    {
        "id": "b60897d411237809",
        "type": "ha-binary-sensor",
        "z": "faa08695e1670414",
        "name": "batteria Bagnetto",
        "entityConfig": "dad9b7d3b01569e5",
        "version": 0,
        "state": "payload.zones[3].lowbat",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2230,
        "y": 1420,
        "wires": [["b053f26da07ca043"]]
    },
    {
        "id": "b4556a5d21b5c173",
        "type": "ha-binary-sensor",
        "z": "faa08695e1670414",
        "name": "batteria Cucina",
        "entityConfig": "eb3ca4e20677d1a9",
        "version": 0,
        "state": "payload.zones[2].lowbat",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2220,
        "y": 1280,
        "wires": [["22c086154a33adc2"]]
    },
    {
        "id": "e1f79f32acbe13a4",
        "type": "ha-binary-sensor",
        "z": "faa08695e1670414",
        "name": "batteria Camera letto",
        "entityConfig": "d16d287ceba206d6",
        "version": 0,
        "state": "payload.zones[0].lowbat",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2240,
        "y": 1000,
        "wires": [["fe94a58c4d2f097d"]]
    },
    {
        "id": "60e9b54a07ac4333",
        "type": "ha-binary-sensor",
        "z": "faa08695e1670414",
        "name": "batteria Bagno",
        "entityConfig": "7b4a579a338bd351",
        "version": 0,
        "state": "payload.zones[1].lowbat",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2220,
        "y": 1140,
        "wires": [["7d45a77cc162aa36"]]
    },
    {
        "id": "afc2e6b3488aa2c4",
        "type": "ha-sensor",
        "z": "faa08695e1670414",
        "name": "Centralina Registro",
        "entityConfig": "c2e227a8.d7a3b8",
        "version": 0,
        "state": "payload[0].message & payload[0].name & \" \" & payload[0].zone",
        "stateType": "jsonata",
        "attributes": [
            { "property": "Zona", "value": "payload[0].zone", "valueType": "msg" },
            { "property": "Sensore", "value": "payload[0].name", "valueType": "msg" },
            { "property": "Messaggio", "value": "payload[0].message", "valueType": "msg" },
            { "property": "Data", "value": "payload[0].date", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2170,
        "y": 460,
        "wires": [[]]
    },
    {
        "id": "1b62c61f33848ce8",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica messaggi Panico",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Panico", "fromt": "str", "to": "SOS/Panico ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 320,
        "wires": [["7a5f90a7c3469a3a"]]
    },
    {
        "id": "7a5f90a7c3469a3a",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica messaggi Zona Bypass",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Zona Bypass", "fromt": "str", "to": " Bypass attivato ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 360,
        "wires": [["816a671b8da8bd1f"]]
    },
    {
        "id": "a19a13ef11e9c1f1",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 1280,
        "wires": [["addcd05142ea32c4", "bd909e7bb5d3d288", "a689663b9c2a7bc9", "eeb1927d26111b3c", "d88298d39f08ef5c", "72181472630265b9", "5eb58b9be2360aae"]]
    },
    {
        "id": "816a671b8da8bd1f",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica messaggi Zone Bypass Cancellata",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Zone Bypass Cancellata", "fromt": "str", "to": " Bypass cancellato ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 400,
        "wires": [["778ee86b55be8eb1"]]
    },
    {
        "id": "778ee86b55be8eb1",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica messaggi Perimetrale",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Perimetrale", "fromt": "str", "to": "Allarme ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 440,
        "wires": [["f6482b964d04b615"]]
    },
    {
        "id": "f6482b964d04b615",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica messaggi Ritardata",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Ritardata", "fromt": "str", "to": "Allarme ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 480,
        "wires": [["092c2e038dbf1b2d"]]
    },
    {
        "id": "092c2e038dbf1b2d",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica messaggi Interna",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Interna", "fromt": "str", "to": "Allarme ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 520,
        "wires": [["e4a81121c8b19e9c"]]
    },
    {
        "id": "75e835a5f7aa2c42",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Report Status",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "disarmed", "fromt": "str", "to": "Disarmato", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "armed_away", "fromt": "str", "to": "Attivo fuori casa", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "armed_home", "fromt": "str", "to": "Attivo in casa", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "triggered", "fromt": "str", "to": "In allarme", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "cancel", "fromt": "str", "to": "Cancellato", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1020,
        "wires": [["c06fb0bb2ff668ba"]]
    },
    {
        "id": "35202ed2e7c324e1",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "Cerca message Panico",
        "func": "if (msg.payload[0].message === 'Panico') {\n    msg.enable = true;\n} else {\n    msg.enable = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 840,
        "wires": [["b12ee2a57d057bb6"]]
    },
    {
        "id": "72886f34128a61b0",
        "type": "inject",
        "z": "faa08695e1670414",
        "name": "timestamp +15s +1h",
        "props": [{ "p": "payload" }, { "p": "method", "v": "GET", "vt": "str" }, { "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "4500",
        "crontab": "",
        "once": true,
        "onceDelay": "15",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1180,
        "y": 3080,
        "wires": [["a246a330f7d33bee"]]
    },
    {
        "id": "a246a330f7d33bee",
        "type": "http request",
        "z": "faa08695e1670414",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://casa-pis.ns0.it:8001/UserPhone.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1350,
        "y": 3180,
        "wires": [["a9365bd754ffa987"]]
    },
    { "id": "86e5d71929b09b97", "type": "comment", "z": "faa08695e1670414", "name": "Numeri telefonici", "info": "", "x": 1720, "y": 3180, "wires": [] },
    { "id": "ca859349581e75d1", "type": "comment", "z": "faa08695e1670414", "name": "Centro Controllo Cloud", "info": "", "x": 1680, "y": 3400, "wires": [] },
    {
        "id": "41fb723505cf46d0",
        "type": "http request",
        "z": "faa08695e1670414",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://casa-pis.ns0.it:8001/Network.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1290,
        "y": 3720,
        "wires": [["d8c75076426d053f"]]
    },
    { "id": "88c8a52248a5dc33", "type": "comment", "z": "faa08695e1670414", "name": "Configurazione di rete", "info": "", "x": 1680, "y": 3880, "wires": [] },
    {
        "id": "a21587ea2c1609b2",
        "type": "http request",
        "z": "faa08695e1670414",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://casa-pis.ns0.it:8001/Option.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1310,
        "y": 2400,
        "wires": [["0cb70f19c923f66a", "8f03c6fd7e410c9d"]]
    },
    {
        "id": "af4fa24b550f4632",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Report ON/OFF",
        "rules": [
            { "t": "change", "p": "payload.ArmReport", "pt": "msg", "from": "2", "fromt": "str", "to": "NO", "tot": "str" },
            { "t": "change", "p": "payload.ArmReport", "pt": "msg", "from": "1", "fromt": "str", "to": "SI", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1720,
        "y": 2680,
        "wires": [["c94b4437b1c60af4"]]
    },
    {
        "id": "c94b4437b1c60af4",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "ON centrale forzato",
        "rules": [
            { "t": "change", "p": "payload.ForceArm", "pt": "msg", "from": "1", "fromt": "str", "to": "SI", "tot": "str" },
            { "t": "change", "p": "payload.ForceArm", "pt": "msg", "from": "2", "fromt": "str", "to": "NO", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 2720,
        "wires": [["d7ae118246f9542e"]]
    },
    {
        "id": "803d616a088af2d1",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Tono acustico ON/OFF ",
        "rules": [
            { "t": "change", "p": "payload.ArmClew", "pt": "msg", "from": "1", "fromt": "str", "to": "Sirena suono breve", "tot": "str" },
            { "t": "change", "p": "payload.ArmClew", "pt": "msg", "from": "2", "fromt": "str", "to": "Disabilitato", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1750,
        "y": 2640,
        "wires": [["af4fa24b550f4632"]]
    },
    {
        "id": "d7ae118246f9542e",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Controllo aperto/chiuso",
        "rules": [
            { "t": "change", "p": "payload.DoorDetect", "pt": "msg", "from": "1", "fromt": "re", "to": "SI", "tot": "str" },
            { "t": "change", "p": "payload.DoorDetect", "pt": "msg", "from": "2", "fromt": "str", "to": "NO", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1750,
        "y": 2760,
        "wires": [["effa55d925d45dc9"]]
    },
    {
        "id": "effa55d925d45dc9",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Controllo tamper sensori",
        "rules": [
            { "t": "change", "p": "payload.wlsTamper", "pt": "msg", "from": "1", "fromt": "str", "to": "SI", "tot": "str" },
            { "t": "change", "p": "payload.wlsTamper", "pt": "msg", "from": "2", "fromt": "str", "to": "NO", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1750,
        "y": 2800,
        "wires": [["509d3c9392785f01"]]
    },
    {
        "id": "509d3c9392785f01",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Riciclo allarme zone",
        "rules": [
            { "t": "change", "p": "payload.AlarmLimit", "pt": "msg", "from": "1", "fromt": "str", "to": "3 volte", "tot": "str" },
            { "t": "change", "p": "payload.AlarmLimit", "pt": "msg", "from": "2", "fromt": "str", "to": "Illimitato", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 2840,
        "wires": [["863949183d78e5f4"]]
    },
    {
        "id": "915666a70fa727e5",
        "type": "http request",
        "z": "faa08695e1670414",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://casa-pis.ns0.it:8001/AlarmEvent.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1450,
        "y": 4620,
        "wires": [["c482205b794e7238"]]
    },
    { "id": "12b9e198b541465f", "type": "comment", "z": "faa08695e1670414", "name": "/Option.htm", "info": "", "x": 1310, "y": 2360, "wires": [] },
    { "id": "403bf7917bae3605", "type": "comment", "z": "faa08695e1670414", "name": "/Network.htm", "info": "", "x": 1290, "y": 3680, "wires": [] },
    { "id": "ae72af549918647d", "type": "comment", "z": "faa08695e1670414", "name": "/UserPhone.htm", "info": "", "x": 1360, "y": 3140, "wires": [] },
    { "id": "2292ee8e0b9f03cc", "type": "comment", "z": "faa08695e1670414", "name": "Configurazione parametri GPRS", "info": "", "x": 2090, "y": 4580, "wires": [] },
    { "id": "99a30daf2c18233b", "type": "comment", "z": "faa08695e1670414", "name": "/AlarmEvent.htm", "info": "", "x": 1460, "y": 4580, "wires": [] },
    {
        "id": "125426478a4c9408",
        "type": "ha-sensor",
        "z": "faa08695e1670414",
        "name": "Centralina GPRS Setting",
        "entityConfig": "cc2c45217d90dcd4",
        "version": 0,
        "state": "Centralina GPRS Setting",
        "stateType": "str",
        "attributes": [
            { "property": "APN GPRS", "value": "payload.apn", "valueType": "msg" },
            { "property": "Utente GPRS", "value": "payload.user", "valueType": "msg" },
            { "property": "Password GPRS", "value": "payload.password", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2070,
        "y": 4740,
        "wires": [[]]
    },
    {
        "id": "7d18956e2b7da9b3",
        "type": "ha-sensor",
        "z": "faa08695e1670414",
        "name": "Centralina Opzioni Allarme",
        "entityConfig": "ed1333ab76c3784c",
        "version": 0,
        "state": "Centralina Opzioni Allarme",
        "stateType": "str",
        "attributes": [
            { "property": "Countdown Sirena sec.", "value": "payload.Indelay", "valueType": "msg" },
            { "property": "Countdown Armato sec.", "value": "payload.OutDelay", "valueType": "msg" },
            { "property": "Durata sirena min.", "value": "payload.BellTime", "valueType": "msg" },
            { "property": "Supervisione radio ore", "value": "payload.wlsLose", "valueType": "msg" },
            { "property": "Notifica assenza AC min.", "value": "payload.AC_Detect", "valueType": "msg" },
            { "property": "Controllo comunicazione ore", "value": "payload.Comm", "valueType": "msg" },
            { "property": "Riavvio programmato", "value": "payload.PanelRestart", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2120,
        "y": 2480,
        "wires": [[]]
    },
    {
        "id": "6a4374a969983d0b",
        "type": "ha-sensor",
        "z": "faa08695e1670414",
        "name": "Centralina Opzioni Sistema",
        "entityConfig": "f0417423b7a10ab8",
        "version": 0,
        "state": "Centralina Opzioni Sistema",
        "stateType": "str",
        "attributes": [
            { "property": "Tono sirena ON-OFF", "value": "payload.ArmClew", "valueType": "msg" },
            { "property": "Report ON-OFF (CMS)", "value": "payload.ArmReport", "valueType": "msg" },
            { "property": "ON sensori aperti", "value": "payload.ForceArm", "valueType": "msg" },
            { "property": "Lettura sensori aperto-chiuso", "value": "payload.DoorDetect", "valueType": "msg" },
            { "property": "Controllo tamper sensori", "value": "payload.wlsTamper", "valueType": "msg" },
            { "property": "Limita allarmi su sensore", "value": "payload.AlarmLimit", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2120,
        "y": 2780,
        "wires": [[]]
    },
    {
        "id": "1a358556ea0aa525",
        "type": "ha-sensor",
        "z": "faa08695e1670414",
        "name": "Centralina Numeri Allarme",
        "entityConfig": "996820ecd152208d",
        "version": 0,
        "state": "Centralina Numeri Allarme",
        "stateType": "str",
        "attributes": [
            { "property": "Num.1", "value": "payload.Phone1", "valueType": "msg" },
            { "property": "Num.2", "value": "payload.Phone2", "valueType": "msg" },
            { "property": "Num.3", "value": "payload.Phone3", "valueType": "msg" },
            { "property": "Num.4", "value": "payload.Phone4", "valueType": "msg" },
            { "property": "Tentativi", "value": "payload.DialCnt", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1960,
        "y": 3260,
        "wires": [[]]
    },
    {
        "id": "4e56e5b843912dd0",
        "type": "ha-sensor",
        "z": "faa08695e1670414",
        "name": "Centralina Rete Setting",
        "entityConfig": "9242ea67a6bc740a",
        "version": 0,
        "state": "Centralina Rete Setting",
        "stateType": "str",
        "attributes": [
            { "property": "MAC", "value": "payload.mac", "valueType": "msg" },
            { "property": "Nome centrale", "value": "payload.name", "valueType": "msg" },
            { "property": "Indirizzo IP", "value": "payload.ip", "valueType": "msg" },
            { "property": "Gateway", "value": "payload.gateway", "valueType": "msg" },
            { "property": "Subnet Mask", "value": "payload.mask", "valueType": "msg" },
            { "property": "DNS primario", "value": "payload.dns1", "valueType": "msg" },
            { "property": "DNS secondario", "value": "payload.dns2", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1930,
        "y": 3860,
        "wires": [[]]
    },
    {
        "id": "4b9dc866b9a12c32",
        "type": "http request",
        "z": "faa08695e1670414",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://casa-pis.ns0.it:8001/Update.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 5660,
        "wires": [["e9a6fc98d3b098f0"]]
    },
    { "id": "43615cdcff4b8a35", "type": "comment", "z": "faa08695e1670414", "name": "/Update.htm", "info": "", "x": 830, "y": 5620, "wires": [] },
    {
        "id": "991b1094128e6f28",
        "type": "inject",
        "z": "faa08695e1670414",
        "name": "timestamp +20s +1h",
        "props": [{ "p": "payload" }, { "p": "method", "v": "GET", "vt": "str" }, { "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "4800",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1120,
        "y": 3620,
        "wires": [["41fb723505cf46d0"]]
    },
    {
        "id": "9a333cd2b5d457f6",
        "type": "inject",
        "z": "faa08695e1670414",
        "name": "timestamp +10s +1h",
        "props": [{ "p": "payload" }, { "p": "method", "v": "GET", "vt": "str" }, { "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1140,
        "y": 2300,
        "wires": [["a21587ea2c1609b2"]]
    },
    {
        "id": "d48e5aebb1e8edd1",
        "type": "inject",
        "z": "faa08695e1670414",
        "name": "timestamp +30s +1h",
        "props": [{ "p": "payload" }, { "p": "method", "v": "GET", "vt": "str" }, { "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "5400",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1220,
        "y": 4540,
        "wires": [["915666a70fa727e5"]]
    },
    {
        "id": "117f5c6a79e4c6f1",
        "type": "inject",
        "z": "faa08695e1670414",
        "name": "timestamp +40s +1h",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }, { "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "6000",
        "crontab": "",
        "once": true,
        "onceDelay": "40",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 5660,
        "wires": [["4b9dc866b9a12c32"]]
    },
    {
        "id": "d193fb362e8f8238",
        "type": "ha-sensor",
        "z": "faa08695e1670414",
        "name": "Centralina Versione",
        "entityConfig": "a7154fcd0845fe07",
        "version": 0,
        "state": "Centralina Versione",
        "stateType": "str",
        "attributes": [
            { "property": "Firmware", "value": "payload", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1460,
        "y": 5660,
        "wires": [[]]
    },
    {
        "id": "4f50189fd82fdf2b",
        "type": "http request",
        "z": "faa08695e1670414",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.16:80/Email.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1370,
        "y": 4240,
        "wires": [["75482d10549b3632"]]
    },
    { "id": "5e23b087753c9618", "type": "comment", "z": "faa08695e1670414", "name": "/Email.htm", "info": "", "x": 1360, "y": 4200, "wires": [] },
    {
        "id": "42394ec0d88ab039",
        "type": "inject",
        "z": "faa08695e1670414",
        "name": "timestamp +25s +1h",
        "props": [{ "p": "payload" }, { "p": "method", "v": "GET", "vt": "str" }, { "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "5100",
        "crontab": "",
        "once": true,
        "onceDelay": "25",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1120,
        "y": 4160,
        "wires": [["4f50189fd82fdf2b"]]
    },
    {
        "id": "72181472630265b9",
        "type": "ha-binary-sensor",
        "z": "faa08695e1670414",
        "name": "Porta",
        "entityConfig": "c28dd76ec51f0bc6",
        "version": 0,
        "state": "payload.zones[5].open",
        "stateType": "msg",
        "attributes": [
            { "property": "bypass", "value": "payload.zones[5].bypass", "valueType": "msg" },
            { "property": "lowbat", "value": "payload.zones[5].lowbat", "valueType": "msg" },
            { "property": "type", "value": "payload.zones[5].type", "valueType": "msg" },
            { "property": "fault", "value": "payload.zones[5].fault", "valueType": "msg" },
            { "property": "message", "value": "payload.zones[5].message", "valueType": "msg" },
            { "property": "name", "value": "payload.zones[5].name", "valueType": "msg" },
            { "property": "open", "value": "payload.zones[5].open", "valueType": "msg" },
            { "property": "id", "value": "payload.zones[5].id", "valueType": "msg" },
            { "property": "lastChecked", "value": "payload.zones[5].lastChecked", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1930,
        "y": 1600,
        "wires": [["21d4c53631b6b105"]]
    },
    {
        "id": "21d4c53631b6b105",
        "type": "ha-binary-sensor",
        "z": "faa08695e1670414",
        "name": "batteria Porta",
        "entityConfig": "8d1779dff6502fdb",
        "version": 0,
        "state": "payload.zones[5].lowbat",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2220,
        "y": 1660,
        "wires": [["3a26a62b57afa146"]]
    },
    {
        "id": "25292fcd094c4bcc",
        "type": "ha-sensor",
        "z": "faa08695e1670414",
        "name": "Centralina Email Setting",
        "entityConfig": "0614cec4f313760d",
        "version": 0,
        "state": "Centralina Email Setting",
        "stateType": "str",
        "attributes": [
            { "property": "Server SMTP", "value": "payload.server", "valueType": "msg" },
            { "property": "Porta SMTP", "value": "payload.port", "valueType": "msg" },
            { "property": "Nome utente", "value": "payload.user", "valueType": "msg" },
            { "property": "Password", "value": "payload.pass", "valueType": "msg" },
            { "property": "Mittente Email", "value": "payload.from", "valueType": "msg" },
            { "property": "Destinatario", "value": "payload.to", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2050,
        "y": 4220,
        "wires": [[]]
    },
    {
        "id": "0ebf368040dc9bf2",
        "type": "http request",
        "z": "faa08695e1670414",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.16:80/Password.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 5380,
        "wires": [["6791ac9995a83860"]]
    },
    { "id": "365bf41f9efa64eb", "type": "comment", "z": "faa08695e1670414", "name": "/Password.htm", "info": "", "x": 820, "y": 5340, "wires": [] },
    {
        "id": "81c794cb54f41773",
        "type": "inject",
        "z": "faa08695e1670414",
        "name": "timestamp +35s +1h",
        "props": [{ "p": "payload" }],
        "repeat": "5700",
        "crontab": "",
        "once": true,
        "onceDelay": "35",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 580,
        "y": 5380,
        "wires": [["0ebf368040dc9bf2"]]
    },
    {
        "id": "5e1c29a2dd3f3f29",
        "type": "ha-sensor",
        "z": "faa08695e1670414",
        "name": "Centralina Password Setting",
        "entityConfig": "a890883e9dd8328b",
        "version": 0,
        "state": "Centralina Password Setting",
        "stateType": "str",
        "attributes": [
            { "property": "Username Admin Web", "value": "payload.AdmName", "valueType": "msg" },
            { "property": "Password Admin Web", "value": "payload.AdmPswd", "valueType": "msg" },
            { "property": "Username Utente Web", "value": "payload.MasterName", "valueType": "msg" },
            { "property": "Password Utente Web", "value": "payload.MasterPswd", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1500,
        "y": 5380,
        "wires": [[]]
    },
    {
        "id": "e4a81121c8b19e9c",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica messaggi Loop Restore",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Loop Restore", "fromt": "str", "to": "sensore chiuso ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 560,
        "wires": [["49502fad7452334b"]]
    },
    {
        "id": "49502fad7452334b",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica messaggi Loop Open/Short",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Loop Open/Short", "fromt": "str", "to": "sensore aperto ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 600,
        "wires": [["5088211c8fe27498"]]
    },
    {
        "id": "96c7217c9f4668ba",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "stato",
        "func": "msg.payload = msg.payload.status;\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1080,
        "wires": [["0d47911115b62e56"]]
    },
    {
        "id": "0d47911115b62e56",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Report Status",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "DISARMED", "fromt": "str", "to": "disarmed", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "ARMED_AWAY", "fromt": "str", "to": "armed_away", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "ARMED_HOME", "fromt": "str", "to": "armed_home", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "TRIGGERED", "fromt": "str", "to": "triggered", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "CANCEL", "fromt": "str", "to": "cancel", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1080,
        "wires": [["75e835a5f7aa2c42", "ef2b531a6aa04646"]]
    },
    {
        "id": "c06fb0bb2ff668ba",
        "type": "ha-sensor",
        "z": "faa08695e1670414",
        "name": "Centralina Stato Allarme",
        "entityConfig": "a187c3f933cd63b6",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1310,
        "y": 1020,
        "wires": [[]]
    },
    {
        "id": "53ac6b12de6a3cc2",
        "type": "ha-button",
        "z": "faa08695e1670414",
        "name": "Centralina Cancel",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "ae053d233a9db0df",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "CANCEL", "valueType": "str" }],
        "x": 330,
        "y": 420,
        "wires": [["8b63d5ad08dcbb37"]]
    },
    {
        "id": "5cf40378541a045d",
        "type": "inject",
        "z": "faa08695e1670414",
        "name": "timestamp 2s",
        "props": [{ "p": "payload" }, { "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "1.6",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 1080,
        "wires": [["bda3441f2c2c8960", "7b7c9f8c1b348c38"]]
    },
    {
        "id": "3991344b08c183f5",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "Cerca undefined",
        "func": "if (msg.payload === undefined) {\n    msg.payload = 'errore connessione';\n} else {\n    return false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 880,
        "wires": [["c06fb0bb2ff668ba"]]
    },
    {
        "id": "5088211c8fe27498",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica messaggi Sistema Parziale",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Sistema Parziale", "fromt": "str", "to": "Sistema Armato in casa ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 640,
        "wires": [["143ee53397fa0b4c"]]
    },
    {
        "id": "3542acf82cc3f045",
        "type": "ha-button",
        "z": "faa08695e1670414",
        "name": "Centralina Arma",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "0675911be9a95f2c",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "ARMED_AWAY", "valueType": "str" }],
        "x": 600,
        "y": 420,
        "wires": [["8b63d5ad08dcbb37"]]
    },
    {
        "id": "cfbd6fd26192a2b7",
        "type": "ha-button",
        "z": "faa08695e1670414",
        "name": "Centralina Disarma",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "465a5e9a07c12d84",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "DISARMED", "valueType": "str" }],
        "x": 610,
        "y": 480,
        "wires": [["8b63d5ad08dcbb37"]]
    },
    {
        "id": "ee6c5e6656fdbf5a",
        "type": "ha-button",
        "z": "faa08695e1670414",
        "name": "Centralina Arma in casa",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "da4545a2172f41a0",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "ARMED_HOME", "valueType": "str" }],
        "x": 350,
        "y": 480,
        "wires": [["8b63d5ad08dcbb37"]]
    },
    {
        "id": "1d4ad4cb9b6e48fc",
        "type": "http request",
        "z": "faa08695e1670414",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.16:80/RemoteCtr.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 3010,
        "y": 1460,
        "wires": [[]]
    },
    {
        "id": "760154e9b8710e8c",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Elimina redirect",
        "rules": [
            { "t": "set", "p": "followRedirects", "pt": "msg", "to": "false", "tot": "bool" },
            { "t": "set", "p": "followAllRedirects", "pt": "msg", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3000,
        "y": 1380,
        "wires": [["1d4ad4cb9b6e48fc"]]
    },
    {
        "id": "fe94a58c4d2f097d",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Cambia payload Enable",
        "rules": [{ "t": "move", "p": "payload.zones[0].bypass", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 960,
        "wires": [["7cb1cc53743279b9"]]
    },
    {
        "id": "cd0e860454eee974",
        "type": "ha-sensor",
        "z": "faa08695e1670414",
        "name": "Centralina Cloud Setting",
        "entityConfig": "d9bf71d767ebada9",
        "version": 0,
        "state": "Centralina Cloud Setting",
        "stateType": "str",
        "attributes": [
            { "property": "Indirizzo IP", "value": "payload.ip", "valueType": "msg" },
            { "property": "Porta", "value": "payload.port", "valueType": "msg" },
            { "property": "ID Centrale", "value": "payload.user", "valueType": "msg" },
            { "property": "Password", "value": "payload.pwd", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1950,
        "y": 3400,
        "wires": [[]]
    },
    {
        "id": "7cb1cc53743279b9",
        "type": "ha-switch",
        "z": "faa08695e1670414",
        "name": "Bypass Camera letto",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "c96268fbb82ab2cc",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 2540,
        "y": 1000,
        "wires": [["a8ca855d3c82deb7"], ["a8ca855d3c82deb7"]]
    },
    {
        "id": "a8ca855d3c82deb7",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "Ctrl=0&BypassNum=01&BypassOpt=1", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "Ctrl=0&BypassNum=01&BypassOpt=2", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2580,
        "y": 960,
        "wires": [["760154e9b8710e8c"]]
    },
    {
        "id": "758d39facd5eb3fb",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "Ctrl=0&BypassNum=02&BypassOpt=1", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "Ctrl=0&BypassNum=02&BypassOpt=2", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2560,
        "y": 1100,
        "wires": [["760154e9b8710e8c"]]
    },
    {
        "id": "7d45a77cc162aa36",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Cambia payload Enable",
        "rules": [{ "t": "move", "p": "payload.zones[1].bypass", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 1100,
        "wires": [["eb875f9c67686a2e"]]
    },
    {
        "id": "d7fa8380d08e00bf",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "Ctrl=0&BypassNum=03&BypassOpt=1", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "Ctrl=0&BypassNum=03&BypassOpt=2", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2540,
        "y": 1240,
        "wires": [["760154e9b8710e8c"]]
    },
    {
        "id": "22c086154a33adc2",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Cambia payload Enable",
        "rules": [{ "t": "move", "p": "payload.zones[2].bypass", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 1240,
        "wires": [["88e8687a8b7ca055"]]
    },
    {
        "id": "eb875f9c67686a2e",
        "type": "ha-switch",
        "z": "faa08695e1670414",
        "name": "Bypass Bagno",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "59273459fa616699",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 2520,
        "y": 1140,
        "wires": [["758d39facd5eb3fb"], ["758d39facd5eb3fb"]]
    },
    {
        "id": "88e8687a8b7ca055",
        "type": "ha-switch",
        "z": "faa08695e1670414",
        "name": "Bypass Cucina",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "2892260dbd032322",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 2520,
        "y": 1280,
        "wires": [["d7fa8380d08e00bf"], ["d7fa8380d08e00bf"]]
    },
    {
        "id": "b698d47985afc7ba",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "Ctrl=0&BypassNum=04&BypassOpt=1", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "Ctrl=0&BypassNum=04&BypassOpt=2", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2540,
        "y": 1380,
        "wires": [["760154e9b8710e8c"]]
    },
    {
        "id": "b053f26da07ca043",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Cambia payload Enable",
        "rules": [{ "t": "move", "p": "payload.zones[3].bypass", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 1380,
        "wires": [["ac9b989d3037c4cf"]]
    },
    {
        "id": "a65dc24e42c42bee",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "Ctrl=0&BypassNum=05&BypassOpt=1", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "Ctrl=0&BypassNum=05&BypassOpt=2", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2520,
        "y": 1500,
        "wires": [["760154e9b8710e8c"]]
    },
    {
        "id": "ef3360266d87f92d",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Cambia payload Enable",
        "rules": [{ "t": "move", "p": "payload.zones[4].bypass", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 1500,
        "wires": [["81860c4087a8f15a"]]
    },
    {
        "id": "e4990d4444b9492c",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "Ctrl=0&BypassNum=06&BypassOpt=1", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "Ctrl=0&BypassNum=06&BypassOpt=2", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2520,
        "y": 1620,
        "wires": [["760154e9b8710e8c"]]
    },
    {
        "id": "3a26a62b57afa146",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Cambia payload Enable",
        "rules": [{ "t": "move", "p": "payload.zones[5].bypass", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 1620,
        "wires": [["426ea0e596126a88"]]
    },
    {
        "id": "81860c4087a8f15a",
        "type": "ha-switch",
        "z": "faa08695e1670414",
        "name": "Bypass Studio",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "602d90c6cea8f9d3",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 2510,
        "y": 1540,
        "wires": [["a65dc24e42c42bee"], ["a65dc24e42c42bee"]]
    },
    {
        "id": "ac9b989d3037c4cf",
        "type": "ha-switch",
        "z": "faa08695e1670414",
        "name": "Bypass Bagnetto",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "c539854c3a2a8733",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 2520,
        "y": 1420,
        "wires": [["b698d47985afc7ba"], ["b698d47985afc7ba"]]
    },
    {
        "id": "426ea0e596126a88",
        "type": "ha-switch",
        "z": "faa08695e1670414",
        "name": "Bypass Porta",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "a40a2aa127d11e4f",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 2510,
        "y": 1660,
        "wires": [["e4990d4444b9492c"], ["e4990d4444b9492c"]]
    },
    {
        "id": "55ed658ab27dd3e9",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Elimina redirect",
        "rules": [
            { "t": "set", "p": "followRedirects", "pt": "msg", "to": "false", "tot": "bool" },
            { "t": "set", "p": "followAllRedirects", "pt": "msg", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 3720,
        "wires": [["41fb723505cf46d0", "38e29e4caad39d91"]]
    },
    {
        "id": "5e9f8f572788b423",
        "type": "http request",
        "z": "faa08695e1670414",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.16:80/Wireless.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1090,
        "y": 4880,
        "wires": [[]]
    },
    {
        "id": "991b0265d49cc61a",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Elimina redirect",
        "rules": [
            { "t": "set", "p": "followRedirects", "pt": "msg", "to": "false", "tot": "bool" },
            { "t": "set", "p": "followAllRedirects", "pt": "msg", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 4880,
        "wires": [["5e9f8f572788b423", "38e29e4caad39d91"]]
    },
    {
        "id": "f4adf5ba7f67eac8",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Cambia comandi",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": " ", "fromt": "str", "to": "&", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "telecomando", "fromt": "str", "to": "remoteNo", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "sensore", "fromt": "str", "to": "detectorNo", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "uscita", "fromt": "str", "to": "switchNo", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "sens_codice", "fromt": "str", "to": "detector", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "uscita_codice", "fromt": "str", "to": "switch", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "tel_codice", "fromt": "str", "to": "remote", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 4840,
        "wires": [["991b0265d49cc61a"]]
    },
    {
        "id": "5e1a7226ddb0b530",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Elimina redirect",
        "rules": [
            { "t": "set", "p": "followRedirects", "pt": "msg", "to": "false", "tot": "bool" },
            { "t": "set", "p": "followAllRedirects", "pt": "msg", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 4240,
        "wires": [["4f50189fd82fdf2b", "38e29e4caad39d91"]]
    },
    {
        "id": "a8af6e43a63bdf02",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Elimina redirect",
        "rules": [
            { "t": "set", "p": "followRedirects", "pt": "msg", "to": "false", "tot": "bool" },
            { "t": "set", "p": "followAllRedirects", "pt": "msg", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 4620,
        "wires": [["915666a70fa727e5", "38e29e4caad39d91"]]
    },
    {
        "id": "3fe2a7a6ccaa545c",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Cambia comandi",
        "rules": [{ "t": "change", "p": "payload", "pt": "msg", "from": " ", "fromt": "str", "to": "&", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 4200,
        "wires": [["5e1a7226ddb0b530"]]
    },
    {
        "id": "579d0649933c098c",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Cambia comandi",
        "rules": [{ "t": "change", "p": "payload", "pt": "msg", "from": " ", "fromt": "str", "to": "&", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 4580,
        "wires": [["a8af6e43a63bdf02"]]
    },
    {
        "id": "9d6948b2d7921f12",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Cambia comandi",
        "rules": [{ "t": "change", "p": "payload", "pt": "msg", "from": " ", "fromt": "str", "to": "&", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 3680,
        "wires": [["55ed658ab27dd3e9"]]
    },
    {
        "id": "31a0d701b9c41289",
        "type": "comment",
        "z": "faa08695e1670414",
        "name": "Info sensori",
        "info": "DISABILITATA: il sensore non genera nessun allarme. Utile per interventi di manutenzione o guasti\nmomentaneamente non risolvibili.\n\nRITARDATA: per applicare un ritardo dallinnesco del sensore alleffettivo allarme. Attiva sia con armato totale\nche parziale.\n\nPERIMETRALE: per linnesco immediato al sollecito del sensore. Attiva sia con armato totale che parziale.\nINTERNA: per linnesco immediato al sollecito del sensore, abilitato solo con il programma totale.\n\nEMERGENZA: definita anche antipanico, genera un allarme silenzioso per lavviso di eventuali tentativi di\nrapina o malesseri.\n\nATTIVA 24 ORE: per linnesco di un allarme anche a centrale disarmata, solitamente utilizzata per i contatti\nantimanomissione dei dispositivi filari.\n\nINCENDIO: dedicata al sensore fumo, per il riconoscimento di un emergenza anche a centrale disarmata.\n\nCHIAVI: zona specifica per inseritori di tipo filari con chiave magnetica o di prossimit.",
        "x": 1950,
        "y": 920,
        "wires": []
    },
    {
        "id": "800d15d424e210bf",
        "type": "comment",
        "z": "faa08695e1670414",
        "name": "info impostazioni",
        "info": "RITARDO ENTRATA: Tempo a\ndisposizione per disarmare la\ncentrale quando uno dei sensori\nimpostato come Ritardato \nstato attivato. Di default\n impostato a 10 secondi.\n\nRITARDO USCITA: Tempo a\ndisposizione per abbandonare\ni locali quando si inserisce il\nsistema di Armato Totale. Di\ndefault  impostato a 10 secondi.\n\nDURATA SIRENA: Tempo di\nattivazione della sirena. Di default\n impostato a 5 minuti.\n\nSUPERVISIONE: Si pu impostare\nun intervallo di tempo che la\ncentrale utilizzer per fare i\ncontrolli ciclici sul funzionamento\ndei dispositivi wireless. Se in\nquesta finestra di tempo la\ncentrale non riceve il segnale dai\ntrasmettitori radio li considerer\nguasti. Di fabbrica questo intervallo di tempo  impostato a 0 (disabilitato) ma si pu impostare tra 0 e\n99 ore (in tal caso si raccomanda un valore superiore a 24 ore).\n\nAC OFF: Tempo di attesa prima che la centrale invii una notifica a seguito della mancanza di corrente\nelettrica (220v). Di default  impostato a 30 minuti.\n\nCOMUNICAZIONE: funzione riservata a istituti di vigilanza privata o CMS. Di default  impostato su 0.\n\nRIPETIZIONE DI STATO: Se attivato, la sirena esterna genera un suono ed un flash ad ogni armamento e\ndisarmamento.\n\nREPORT DI STATO: funzione riservata a istituti di vigilanza privata o CMS. Di default  disattivato.\n\nARMAMENTO FORZATO: Se attivato, nel caso in cui sul display della centrale sia presente un messaggio\ndi stato (batteria scarica, perdita segnale, finestra aperta, ecc..) il comando di armamento andr a buon\nfine. Questa situazione non si presenta in caso di armamento parziale.\n\nCONTROLLO SENSORI APERTI: Se attivato, mostra sul display della centrale il sensore magnetico che\nrisulta aperto quando, per esempio, si lascia una finestra aperta. Di default  disattivato.\n\nCONTROLLO TAMPER: Se attivato, quando un sensore viene manomesso far scattare lallarme, anche a\ncentrale disarmata. Di default  disattivato.\n\nLIMITE ALLARMI SU SENSORI: Se attivato, un sensore pu generare fino ad un massimo di 3 allarmi dello\nstesso evento. Di default  disattivato.",
        "x": 2080,
        "y": 2640,
        "wires": []
    },
    {
        "id": "2b7f47ab73bcbd33",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Elimina redirect",
        "rules": [
            { "t": "set", "p": "followRedirects", "pt": "msg", "to": "false", "tot": "bool" },
            { "t": "set", "p": "followAllRedirects", "pt": "msg", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3180,
        "wires": [["a246a330f7d33bee", "38e29e4caad39d91"]]
    },
    {
        "id": "b15d579d67e2ebfd",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Cambia comandi",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "tentativi", "fromt": "str", "to": "DialCnt", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "telefono", "fromt": "str", "to": "Phone", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "password", "fromt": "str", "to": "pwd", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 3140,
        "wires": [["2b7f47ab73bcbd33"]]
    },
    {
        "id": "6c3397c66259f478",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Elimina redirect",
        "rules": [
            { "t": "set", "p": "followRedirects", "pt": "msg", "to": "false", "tot": "bool" },
            { "t": "set", "p": "followAllRedirects", "pt": "msg", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 2400,
        "wires": [["a21587ea2c1609b2", "38e29e4caad39d91"]]
    },
    {
        "id": "78a417b0bc1d0448",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Cambia comandi",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": " ", "fromt": "str", "to": "&", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "telecomando", "fromt": "str", "to": "remoteNo", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "sensore", "fromt": "str", "to": "detectorNo", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "uscita", "fromt": "str", "to": "switchNo", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "sens_codice", "fromt": "str", "to": "detector", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "uscita_codice", "fromt": "str", "to": "switch", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "tel_codice", "fromt": "str", "to": "remote", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": ";", "fromt": "str", "to": "&", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 2360,
        "wires": [["6c3397c66259f478"]]
    },
    {
        "id": "38e29e4caad39d91",
        "type": "ha-sensor",
        "z": "faa08695e1670414",
        "name": "Centralina Ultimo comando",
        "entityConfig": "80727a70e09eef0b",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [{ "property": "last_updated", "value": "$now('[D01].[M01].[Y0001] [H01]:[m01]:[s01]', '+0100')", "valueType": "jsonata" }],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 240,
        "y": 3980,
        "wires": [[]]
    },
    {
        "id": "97228c809033d0f1",
        "type": "http request",
        "z": "faa08695e1670414",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.16:80/Zone.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1090,
        "y": 5140,
        "wires": [[]]
    },
    {
        "id": "7b8f9ed3c51f71f7",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Elimina redirect",
        "rules": [
            { "t": "set", "p": "followRedirects", "pt": "msg", "to": "false", "tot": "bool" },
            { "t": "set", "p": "followAllRedirects", "pt": "msg", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 5140,
        "wires": [["97228c809033d0f1", "38e29e4caad39d91"]]
    },
    {
        "id": "b30e6a27f7875167",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Cambia comandi",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": " ", "fromt": "str", "to": "&", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "nome=", "fromt": "str", "to": "ZoneName=", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "numero=", "fromt": "str", "to": "zoneNo=", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "sirena=", "fromt": "str", "to": "ZoneBell=", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "tipo=", "fromt": "str", "to": "ZoneType=", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 5100,
        "wires": [["7b8f9ed3c51f71f7"]]
    },
    {
        "id": "143ee53397fa0b4c",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica telecomandi 1",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "42", "fromt": "str", "to": "Telecomando 1", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 220,
        "wires": [["d2749ab1a0e9eedf"]]
    },
    {
        "id": "b263eaa5735922f6",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica telecomando 5",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "46", "fromt": "str", "to": "tramite Telecomando 5", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 380,
        "wires": [["4ef5d2bc9598bdf2"]]
    },
    {
        "id": "d2749ab1a0e9eedf",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica telecomando 2",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "43", "fromt": "str", "to": "tramite Telecomando 2", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 260,
        "wires": [["f926b2fbbf8d53e5"]]
    },
    {
        "id": "e72b23a9de885e4e",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica messaggi web",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "70", "fromt": "str", "to": "tramite App", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 620,
        "wires": [["3b65af556c78a722"]]
    },
    {
        "id": "f926b2fbbf8d53e5",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica telecomando 3",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "44", "fromt": "str", "to": "tramite Telecomando 3", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 300,
        "wires": [["7beb97e18a1154fd"]]
    },
    {
        "id": "7beb97e18a1154fd",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica telecomando 4",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "45", "fromt": "str", "to": "tramite Telecomando 4", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 340,
        "wires": [["b263eaa5735922f6"]]
    },
    {
        "id": "4ef5d2bc9598bdf2",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica telecomando 6",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "47", "fromt": "str", "to": "tramite Telecomando 6", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 420,
        "wires": [["ab75fdb40fb243c6"]]
    },
    {
        "id": "ab75fdb40fb243c6",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica telecomando 7",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "48", "fromt": "str", "to": "tramite Telecomando 7", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 460,
        "wires": [["bd2658e03c34c107"]]
    },
    {
        "id": "3b65af556c78a722",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Elimina\\Cambia numero sensore",
        "rules": [
            { "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "1", "fromt": "str", "to": "Davide", "tot": "str" },
            { "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "2", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "3", "fromt": "str", "to": "Emanuele", "tot": "str" },
            { "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "4", "fromt": "str", "to": "Maurizio", "tot": "str" },
            { "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "5", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "6", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "7", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "0", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1940,
        "y": 620,
        "wires": [["afc2e6b3488aa2c4"]]
    },
    {
        "id": "46b0ea5c047a35ae",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica Tastiera centrale",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "90", "fromt": "str", "to": "tramite Tastiera centrale", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 580,
        "wires": [["e72b23a9de885e4e"]]
    },
    {
        "id": "bd2658e03c34c107",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "modifica telecomando 8",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "49", "fromt": "str", "to": "tramite Telecomando 8", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 500,
        "wires": [["46b0ea5c047a35ae"]]
    },
    {
        "id": "ddfd61274a9da258",
        "type": "ha-button",
        "z": "faa08695e1670414",
        "name": "Centralina Update Option",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "0354f1bb7071ad77",
        "outputProperties": [
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "date" },
            { "property": "method", "propertyType": "msg", "value": "GET", "valueType": "str" },
            { "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }
        ],
        "x": 1150,
        "y": 2240,
        "wires": [["a21587ea2c1609b2"]]
    },
    {
        "id": "76c7fc65c87a35b2",
        "type": "ha-button",
        "z": "faa08695e1670414",
        "name": "Centralina Update UserPhone",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "0fd7b03a0227a665",
        "outputProperties": [
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "date" },
            { "property": "method", "propertyType": "msg", "value": "GET", "valueType": "str" },
            { "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }
        ],
        "x": 1180,
        "y": 3020,
        "wires": [["a246a330f7d33bee"]]
    },
    {
        "id": "6eea146505034cba",
        "type": "ha-button",
        "z": "faa08695e1670414",
        "name": "Centralina Update Network",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "b8c80fa927617b66",
        "outputProperties": [
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "date" },
            { "property": "method", "propertyType": "msg", "value": "GET", "valueType": "str" },
            { "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }
        ],
        "x": 1130,
        "y": 3560,
        "wires": [["41fb723505cf46d0"]]
    },
    {
        "id": "c5e79de73fb92506",
        "type": "ha-button",
        "z": "faa08695e1670414",
        "name": "Centralina Update Email",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "78ce723ee5382697",
        "outputProperties": [
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "date" },
            { "property": "method", "propertyType": "msg", "value": "GET", "valueType": "str" },
            { "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }
        ],
        "x": 1110,
        "y": 4100,
        "wires": [["4f50189fd82fdf2b"]]
    },
    {
        "id": "c59ae22c48059ca5",
        "type": "ha-button",
        "z": "faa08695e1670414",
        "name": "Centralina Update AlarmEvent",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "622d65627b56d430",
        "outputProperties": [
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "date" },
            { "property": "method", "propertyType": "msg", "value": "GET", "valueType": "str" },
            { "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }
        ],
        "x": 1220,
        "y": 4480,
        "wires": [["915666a70fa727e5"]]
    },
    {
        "id": "9c5babca6a64ad94",
        "type": "ha-button",
        "z": "faa08695e1670414",
        "name": "Centralina Update Password",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "d5b9fac84ef548ea",
        "outputProperties": [
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "date" },
            { "property": "method", "propertyType": "msg", "value": "GET", "valueType": "str" }
        ],
        "x": 560,
        "y": 5320,
        "wires": [["0ebf368040dc9bf2"]]
    },
    {
        "id": "7e83ab16f857ae08",
        "type": "ha-button",
        "z": "faa08695e1670414",
        "name": "Centralina Update Versione",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "f9cc6903dcdb1edf",
        "outputProperties": [
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "date" },
            { "property": "method", "propertyType": "msg", "value": "GET", "valueType": "str" },
            { "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }
        ],
        "x": 620,
        "y": 5560,
        "wires": [["4b9dc866b9a12c32"]]
    },
    {
        "id": "fcea8f4bf4d7765f",
        "type": "http request",
        "z": "faa08695e1670414",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.16:80/reboot.cgi",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 1960,
        "wires": [[]]
    },
    {
        "id": "0d842eebb8db6d2c",
        "type": "ha-button",
        "z": "faa08695e1670414",
        "name": "Centralina Reboot",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "9825c13c1ff23a11",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "str" }],
        "x": 590,
        "y": 1960,
        "wires": [["fcea8f4bf4d7765f"]]
    },
    {
        "id": "8a92ab9d1f9d5b46",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "timeConvert",
        "func": "var country = \"it-IT\";\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(\"it-IT\")\nvar time = new Date(lastchecked).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2050,
        "y": 2420,
        "wires": [["7d18956e2b7da9b3"]]
    },
    {
        "id": "863949183d78e5f4",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "timeConvert",
        "func": "var country = \"it-IT\";\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(\"it-IT\")\nvar time = new Date(lastchecked).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2052,
        "y": 2730,
        "wires": [["6a4374a969983d0b"]]
    },
    {
        "id": "033cfad6090898c2",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "timeConvert",
        "func": "var country = \"it-IT\";\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(\"it-IT\")\nvar time = new Date(lastchecked).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 3360,
        "wires": [["cd0e860454eee974"]]
    },
    {
        "id": "4e5129596b2aa88e",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "timeConvert",
        "func": "var country = \"it-IT\";\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(\"it-IT\")\nvar time = new Date(lastchecked).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1911,
        "y": 3212,
        "wires": [["1a358556ea0aa525"]]
    },
    {
        "id": "a8afed9fd75d8c45",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "timeConvert",
        "func": "var country = \"it-IT\";\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(\"it-IT\")\nvar time = new Date(lastchecked).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1890,
        "y": 3780,
        "wires": [["4e56e5b843912dd0"]]
    },
    {
        "id": "fbed63260b6e3bdd",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "timeConvert",
        "func": "var country = \"it-IT\";\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(\"it-IT\")\nvar time = new Date(lastchecked).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 4680,
        "wires": [["125426478a4c9408"]]
    },
    {
        "id": "e9bf7ebb2448609e",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "timeConvert",
        "func": "var country = \"it-IT\";\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(\"it-IT\")\nvar time = new Date(lastchecked).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 5600,
        "wires": [["d193fb362e8f8238"]]
    },
    {
        "id": "b12ee2a57d057bb6",
        "type": "ha-binary-sensor",
        "z": "faa08695e1670414",
        "name": "Centralina SOS/Panico",
        "entityConfig": "e9be16f28869dbea",
        "version": 0,
        "state": "enable",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1590,
        "y": 840,
        "wires": [[]]
    },
    {
        "id": "e4a52dfd08b3749e",
        "type": "ha-binary-sensor",
        "z": "faa08695e1670414",
        "name": "batteria PIR",
        "entityConfig": "9fec570b7b2350b5",
        "version": 0,
        "state": "payload.zones[6].lowbat",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2210,
        "y": 1800,
        "wires": [["380f6cf957d17c18"]]
    },
    {
        "id": "49f732a6522fe61e",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "Ctrl=0&BypassNum=07&BypassOpt=1", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "Ctrl=0&BypassNum=07&BypassOpt=2", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2500,
        "y": 1760,
        "wires": [["760154e9b8710e8c"]]
    },
    {
        "id": "380f6cf957d17c18",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "Cambia payload Enable",
        "rules": [{ "t": "move", "p": "payload.zones[6].bypass", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 1760,
        "wires": [["f1b2646caacc668b"]]
    },
    {
        "id": "f1b2646caacc668b",
        "type": "ha-switch",
        "z": "faa08695e1670414",
        "name": "Bypass PIR",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "9519ee48b33f51d5",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 2510,
        "y": 1800,
        "wires": [["49f732a6522fe61e"], ["49f732a6522fe61e"]]
    },
    {
        "id": "ceb58150e474c627",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "timeConvert",
        "func": "var country = \"it-IT\";\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(\"it-IT\")\nvar time = new Date(lastchecked).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2010,
        "y": 4180,
        "wires": [["25292fcd094c4bcc"]]
    },
    {
        "id": "50ab91dfcf393d4f",
        "type": "ha-binary-sensor",
        "z": "faa08695e1670414",
        "name": "Centralina Assenza corrente",
        "entityConfig": "382f9d4402ac6e8f",
        "version": 0,
        "state": "enable",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1600,
        "y": 800,
        "wires": [[]]
    },
    {
        "id": "09b6a17c92c06664",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "Cerca message Assenza corrente",
        "func": "if (msg.payload[0].message === 'Assenza corrente') {\n    msg.enable = true;\n} else {\n    msg.enable = false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 800,
        "wires": [["50ab91dfcf393d4f"]]
    },
    {
        "id": "6038757893f9cc9c",
        "type": "ha-sensor",
        "z": "faa08695e1670414",
        "name": "PIR",
        "entityConfig": "b7f180c28d71c281",
        "version": 0,
        "state": "payload.zones[6].status",
        "stateType": "msg",
        "attributes": [
            { "property": "bypass", "value": "payload.zones[6].bypass", "valueType": "msg" },
            { "property": "lowbat", "value": "payload.zones[6].lowbat", "valueType": "msg" },
            { "property": "type", "value": "payload.zones[6].type", "valueType": "msg" },
            { "property": "fault", "value": "payload.zones[6].fault", "valueType": "msg" },
            { "property": "message", "value": "payload.zones[6].message", "valueType": "msg" },
            { "property": "name", "value": "payload.zones[6].name", "valueType": "msg" },
            { "property": "id", "value": "payload.zones[6].id", "valueType": "msg" },
            { "property": "lastChecked", "value": "payload.zones[6].lastChecked", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1930,
        "y": 1760,
        "wires": [["e4a52dfd08b3749e"]]
    },
    {
        "id": "5eb58b9be2360aae",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "Cerca message PIR",
        "func": "if (msg.payload.zones[6].message === 'zone alarm') {\n    msg.payload.zones[6].status = 'Innescato';\n} else {\n    msg.payload.zones[6].status = msg.payload.zones[6].message;\n\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 1760,
        "wires": [["6038757893f9cc9c"]]
    },
    {
        "id": "6c47d1b7e9c95945",
        "type": "ha-text",
        "z": "faa08695e1670414",
        "name": "Centralina UserPhone Input",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "da885884a1c341c8",
        "exposeAsEntityConfig": "",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "value" }],
        "x": 640,
        "y": 3140,
        "wires": [["b15d579d67e2ebfd", "1d219bd915e9978e"]]
    },
    {
        "id": "bc5ae5900b2f0ed9",
        "type": "ha-text",
        "z": "faa08695e1670414",
        "name": "Centralina Network Input",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "ee5bf028a68dceb8",
        "exposeAsEntityConfig": "",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "value" }],
        "x": 590,
        "y": 3680,
        "wires": [["9d6948b2d7921f12", "71be56419b7c303e"]]
    },
    {
        "id": "a5df5c7627bc284d",
        "type": "ha-text",
        "z": "faa08695e1670414",
        "name": "Centralina Email Input",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "f58ab88c205855e3",
        "exposeAsEntityConfig": "",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "value" },
            { "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" },
            { "property": "method", "propertyType": "msg", "value": "POST", "valueType": "str" }
        ],
        "x": 540,
        "y": 4200,
        "wires": [["3fe2a7a6ccaa545c", "0494c15e8dd9a0d8"]]
    },
    {
        "id": "daeaea28afae1a94",
        "type": "ha-text",
        "z": "faa08695e1670414",
        "name": "Centralina APN Input",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "1cd1d8442a3d28a4",
        "exposeAsEntityConfig": "",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "value" }],
        "x": 540,
        "y": 4580,
        "wires": [["579d0649933c098c", "f469f713ed308dcb"]]
    },
    {
        "id": "24700cc0413f7a84",
        "type": "ha-text",
        "z": "faa08695e1670414",
        "name": "Centralina Wireless Input",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "890e4068c61a21fe",
        "exposeAsEntityConfig": "",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "value" }],
        "x": 550,
        "y": 4840,
        "wires": [["f4adf5ba7f67eac8", "16fe92171249df26"]]
    },
    {
        "id": "1f844efc834873ec",
        "type": "ha-text",
        "z": "faa08695e1670414",
        "name": "Centralina Zone Input",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "43e18274bb648b1f",
        "exposeAsEntityConfig": "",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "value" }],
        "x": 600,
        "y": 5100,
        "wires": [["b30e6a27f7875167", "92a71a7387062303"]]
    },
    {
        "id": "6c9f9a4305c6cf8d",
        "type": "ha-text",
        "z": "faa08695e1670414",
        "name": "Centralina CloudSetting Input",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "aa3911768117bcaf",
        "exposeAsEntityConfig": "",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "value" }],
        "x": 640,
        "y": 3100,
        "wires": [["b15d579d67e2ebfd", "1d219bd915e9978e"]]
    },
    {
        "id": "609570ba0e09662f",
        "type": "ha-text",
        "z": "faa08695e1670414",
        "name": "Centralina Option Input",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "df0e4744bd1a71eb",
        "exposeAsEntityConfig": "",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "value" }],
        "x": 600,
        "y": 2360,
        "wires": [["78a417b0bc1d0448", "58df4dffc972b86a"]]
    },
    {
        "id": "0494c15e8dd9a0d8",
        "type": "delay",
        "z": "faa08695e1670414",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 4320,
        "wires": [["e041a816a34c536a"]]
    },
    {
        "id": "e041a816a34c536a",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "",
        "rules": [
            { "t": "set", "p": "method", "pt": "msg", "to": "GET", "tot": "str" },
            { "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "date" },
            { "t": "set", "p": "lastchecked", "pt": "msg", "to": "", "tot": "date" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 4320,
        "wires": [["4f50189fd82fdf2b"]]
    },
    {
        "id": "975f773e920d6720",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "",
        "rules": [
            { "t": "set", "p": "method", "pt": "msg", "to": "GET", "tot": "str" },
            { "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "date" },
            { "t": "set", "p": "lastchecked", "pt": "msg", "to": "", "tot": "date" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 3780,
        "wires": [["41fb723505cf46d0"]]
    },
    {
        "id": "71be56419b7c303e",
        "type": "delay",
        "z": "faa08695e1670414",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 3780,
        "wires": [["975f773e920d6720"]]
    },
    {
        "id": "be368f837c60b9dd",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "",
        "rules": [
            { "t": "set", "p": "method", "pt": "msg", "to": "GET", "tot": "str" },
            { "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "date" },
            { "t": "set", "p": "lastchecked", "pt": "msg", "to": "", "tot": "date" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 3240,
        "wires": [["a246a330f7d33bee"]]
    },
    {
        "id": "1d219bd915e9978e",
        "type": "delay",
        "z": "faa08695e1670414",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 3240,
        "wires": [["be368f837c60b9dd"]]
    },
    {
        "id": "87e65b9a2b8a3937",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "",
        "rules": [
            { "t": "set", "p": "method", "pt": "msg", "to": "GET", "tot": "str" },
            { "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "date" },
            { "t": "set", "p": "lastchecked", "pt": "msg", "to": "", "tot": "date" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 2460,
        "wires": [["a21587ea2c1609b2"]]
    },
    {
        "id": "58df4dffc972b86a",
        "type": "delay",
        "z": "faa08695e1670414",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 2460,
        "wires": [["87e65b9a2b8a3937"]]
    },
    {
        "id": "f1e6ecec2ce8da19",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "",
        "rules": [
            { "t": "set", "p": "method", "pt": "msg", "to": "GET", "tot": "str" },
            { "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "date" },
            { "t": "set", "p": "lastchecked", "pt": "msg", "to": "", "tot": "date" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 4680,
        "wires": [["915666a70fa727e5"]]
    },
    {
        "id": "f469f713ed308dcb",
        "type": "delay",
        "z": "faa08695e1670414",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 4680,
        "wires": [["f1e6ecec2ce8da19"]]
    },
    {
        "id": "5b0f1ec2cc6d4a84",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "",
        "rules": [
            { "t": "set", "p": "method", "pt": "msg", "to": "GET", "tot": "str" },
            { "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "date" },
            { "t": "set", "p": "lastchecked", "pt": "msg", "to": "", "tot": "date" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 4940,
        "wires": [["5e9f8f572788b423"]]
    },
    {
        "id": "16fe92171249df26",
        "type": "delay",
        "z": "faa08695e1670414",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 4940,
        "wires": [["5b0f1ec2cc6d4a84"]]
    },
    {
        "id": "1383ff55c94c7cdd",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "",
        "rules": [
            { "t": "set", "p": "method", "pt": "msg", "to": "GET", "tot": "str" },
            { "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "date" },
            { "t": "set", "p": "lastchecked", "pt": "msg", "to": "", "tot": "date" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 5180,
        "wires": [["97228c809033d0f1"]]
    },
    {
        "id": "92a71a7387062303",
        "type": "delay",
        "z": "faa08695e1670414",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 5180,
        "wires": [["1383ff55c94c7cdd"]]
    },
    {
        "id": "0cb70f19c923f66a",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "function 1",
        "func": "msg.payload.PanelRestart = 'n.d'\n\nvar name1 = msg.payload.split('name=')[1].split(' ')[0].replace(/\"/g, '');\nvar value1 = msg.payload.split('name=')[1].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name2 = msg.payload.split('name=')[2].split(' ')[0].replace(/\"/g, '');\nvar value2 = msg.payload.split('name=')[2].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name3 = msg.payload.split('name=')[3].split(' ')[0].replace(/\"/g, '');\nvar value3 = msg.payload.split('name=')[3].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name4 = msg.payload.split('name=')[4].split(' ')[0].replace(/\"/g, '');\nvar value4 = msg.payload.split('name=')[4].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name5 = msg.payload.split('name=')[5].split(' ')[0].replace(/\"/g, '');\nvar value5 = msg.payload.split('name=')[5].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name6 = msg.payload.split('name=')[6].split(' ')[0].replace(/\"/g, '');\nvar value6 = msg.payload.split('name=')[6].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name7 = msg.payload.split('name=')[7].split(' ')[0].replace(/\"/g, '');\nvar value7 = msg.payload.split('name=')[7].split('value=')[1].split('/')[0].replace('\\\"', '');\nif (name7 === undefined ) {\n    name7 = 'n.d';\n    value7 = 'n.d';\n} \n\nvar name8 = msg.payload.split('name=')[8].split(' ')[0].replace(/\"/g, '');\nvar value8 = msg.payload.split('name=')[8].split('value=')[1].split('/')[0].replace('\\\"', '');\nif (name8 === undefined ) {\n    name8 = 'n.d';\n    value8 = 'n.d';\n} \n\nmsg.payload =        '{\"' + name1 + '\":\"' + value1 + ',' + '\"' + name2 + '\":\"' + value2 + \n                ',' + '\"' + name3 + '\":\"' + value3 + ',' + '\"' + name4 + '\":\"' + value4 + \n                ',' + '\"' + name5 + '\":\"' + value5 + ',' + '\"' + name6 + '\":\"' + value6 + \n                ',' + '\"' + name7 + '\":\"' + value7 + '}'\n                \n   \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 2480,
        "wires": [["e1f46b5900ea2de6"]]
    },
    { "id": "e1f46b5900ea2de6", "type": "json", "z": "faa08695e1670414", "name": "", "property": "payload", "action": "", "pretty": false, "x": 1710, "y": 2480, "wires": [["8a92ab9d1f9d5b46"]] },
    { "id": "41841f7850c6d545", "type": "json", "z": "faa08695e1670414", "name": "", "property": "payload", "action": "", "pretty": false, "x": 1710, "y": 2560, "wires": [["803d616a088af2d1"]] },
    {
        "id": "a9365bd754ffa987",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "function 3",
        "func": "var name1 = msg.payload.split('name=')[1].split(' ')[0].replace(/\"/g, '');\nvar value1 = msg.payload.split('name=')[1].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name2 = msg.payload.split('name=')[2].split(' ')[0].replace(/\"/g, '');\nvar value2 = msg.payload.split('name=')[2].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name3 = msg.payload.split('name=')[3].split(' ')[0].replace(/\"/g, '');\nvar value3 = msg.payload.split('name=')[3].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name4 = msg.payload.split('name=')[4].split(' ')[0].replace(/\"/g, '');\nvar value4 = msg.payload.split('name=')[4].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name5 = msg.payload.split('name=')[5].split(' ')[0].replace(/\"/g, '');\nvar value5 = msg.payload.split('name=')[5].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name6 = msg.payload.split('name=')[6].split(' ')[0].replace(/\"/g, '');\nvar value6 = msg.payload.split('name=')[6].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name7 = msg.payload.split('name=')[7].split(' ')[0].replace(/\"/g, '');\nvar value7 = msg.payload.split('name=')[7].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name8 = msg.payload.split('name=')[8].split(' ')[0].replace(/\"/g, '');\nvar value8 = msg.payload.split('name=')[8].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name9 = msg.payload.split('name=')[9].split(' ')[0].replace(/\"/g, '');\nvar value9 = msg.payload.split('name=')[9].split('value=')[1].split('/')[0].replace('\\\"', '');\n\n\nmsg.payload = '{\"' + name1 + '\":\"' + value1 + ',' + '\"' + name2 + '\":\"' + value2 + \n                ',' + '\"' + name3 + '\":\"' + value3 + ',' + '\"' + name4 + '\":\"' + value4 + \n                ',' + '\"' + name5 + '\":\"' + value5 + ',' + '\"' + name6 + '\":\"' + value6 + \n                ',' + '\"' + name7 + '\":\"' + value7 + ',' + '\"' + name8 + '\":\"' + value8 +\n                ',' + '\"' + name9 + '\":\"' + value9 + '}'\n                \n   \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 3260,
        "wires": [["1d7ff9a1d75dd082"]]
    },
    { "id": "1d7ff9a1d75dd082", "type": "json", "z": "faa08695e1670414", "name": "", "property": "payload", "action": "", "pretty": false, "x": 1670, "y": 3260, "wires": [["4e5129596b2aa88e", "033cfad6090898c2"]] },
    {
        "id": "d8c75076426d053f",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "function 4",
        "func": "var name1 = msg.payload.split('name=')[1].split(' ')[0].replace(/\"/g, '');\nvar value1 = msg.payload.split('name=')[1].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name2 = msg.payload.split('name=')[2].split(' ')[0].replace(/\"/g, '');\nvar value2 = msg.payload.split('name=')[2].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name3 = msg.payload.split('name=')[3].split(' ')[0].replace(/\"/g, '');\nvar value3 = msg.payload.split('name=')[3].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name4 = msg.payload.split('name=')[4].split(' ')[0].replace(/\"/g, '');\nvar value4 = msg.payload.split('name=')[4].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name5 = msg.payload.split('name=')[5].split(' ')[0].replace(/\"/g, '');\nvar value5 = msg.payload.split('name=')[5].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name6 = msg.payload.split('name=')[6].split(' ')[0].replace(/\"/g, '');\nvar value6 = msg.payload.split('name=')[6].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name7 = msg.payload.split('name=')[7].split(' ')[0].replace(/\"/g, '');\nvar value7 = msg.payload.split('name=')[7].split('value=')[1].split('/')[0].replace('\\\"', '');\n\n\n\nmsg.payload = '{\"' + name1 + '\":\"' + value1 + ',' + '\"' + name2 + '\":\"' + value2 + \n                ',' + '\"' + name3 + '\":\"' + value3 + ',' + '\"' + name4 + '\":\"' + value4 + \n                ',' + '\"' + name5 + '\":\"' + value5 + ',' + '\"' + name6 + '\":\"' + value6 + \n                ',' + '\"' + name7 + '\":\"' + value7 + '}'\n                \n   \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 3780,
        "wires": [["bffad59fd7cc22f1"]]
    },
    { "id": "bffad59fd7cc22f1", "type": "json", "z": "faa08695e1670414", "name": "", "property": "payload", "action": "", "pretty": false, "x": 1690, "y": 3780, "wires": [["a8afed9fd75d8c45"]] },
    {
        "id": "75482d10549b3632",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "function 5",
        "func": "var name1 = msg.payload.split('name=')[1].split(' ')[0].replace(/\"/g, '');\nvar value1 = msg.payload.split('name=')[1].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name2 = msg.payload.split('name=')[2].split(' ')[0].replace(/\"/g, '');\nvar value2 = msg.payload.split('name=')[2].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name3 = msg.payload.split('name=')[3].split(' ')[0].replace(/\"/g, '');\nvar value3 = msg.payload.split('name=')[3].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name4 = msg.payload.split('name=')[4].split(' ')[0].replace(/\"/g, '');\nvar value4 = msg.payload.split('name=')[4].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name5 = msg.payload.split('name=')[5].split(' ')[0].replace(/\"/g, '');\nvar value5 = msg.payload.split('name=')[5].split('value=')[1].split('/')[0].replace('\\\"', '');\n\nvar name6 = msg.payload.split('name=')[6].split(' ')[0].replace(/\"/g, '');\nvar value6 = msg.payload.split('name=')[6].split('value=')[1].split('/')[0].replace('\\\"', '');\n\n\n\nmsg.payload = '{\"' + name1 + '\":\"' + value1 + ',' + '\"' + name2 + '\":\"' + value2 + \n                ',' + '\"' + name3 + '\":\"' + value3 + ',' + '\"' + name4 + '\":\"' + value4 + \n                ',' + '\"' + name5 + '\":\"' + value5 + ',' + '\"' + name6 + '\":\"' + value6 + '}'\n                \n   \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 4240,
        "wires": [["77e37369deec6f51"]]
    },
    { "id": "dc116b95b629f2f7", "type": "json", "z": "faa08695e1670414", "name": "", "property": "payload", "action": "", "pretty": false, "x": 1750, "y": 4180, "wires": [["ceb58150e474c627"]] },
    {
        "id": "77e37369deec6f51",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "size=\"48\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "size=\"6\"", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 4240,
        "wires": [["dc116b95b629f2f7"]]
    },
    {
        "id": "c482205b794e7238",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "function 6",
        "func": "var name1 = msg.payload.split('name=')[6].replace('\"','').replace('\"','').split(' ')[0];\nvar value1 = msg.payload.split('name=')[6].split('value=')[1].split('>')[0].replace('\"','');\n\nvar name2 = msg.payload.split('name=')[7].replace('\"','').replace('\"','').split(' ')[0];\nvar value2 = msg.payload.split('name=')[7].split('value=')[1].split('>')[0].replace('\"','');\n\nvar name3 = msg.payload.split('name=')[8].replace('\"','').replace('\"','').split(' ')[0];\nvar value3 = msg.payload.split('name=')[8].split('value=')[1].split('>')[0].replace('\"','');\n\nmsg.payload = '{\"' + name1 + '\":\"' + value1 + ',' + '\"' + name2 + '\":\"' + value2 + \n                ',' + '\"' + name3 + '\":\"' + value3 + '}'\n                \n               \n   \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 4720,
        "wires": [["d0e5c50426148c42"]]
    },
    { "id": "cb3bd8709ccba502", "type": "json", "z": "faa08695e1670414", "name": "", "property": "payload", "action": "", "pretty": false, "x": 1770, "y": 4740, "wires": [["fbed63260b6e3bdd"]] },
    {
        "id": "d0e5c50426148c42",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "",
        "rules": [{ "t": "change", "p": "payload", "pt": "msg", "from": "maxlength=\"45\"/", "fromt": "str", "to": "", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1720,
        "y": 4680,
        "wires": [["cb3bd8709ccba502"]]
    },
    {
        "id": "6791ac9995a83860",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "function 7",
        "func": "var name1 = msg.payload.split('name=')[1].replace('\"','').replace('\"','').split(' ')[0];\nvar value1 = msg.payload.split('name=')[1].split('value=')[1].split('>')[0].replace('\"','');\n\nvar name2 = msg.payload.split('name=')[2].replace('\"','').replace('\"','').split(' ')[0];\nvar value2 = msg.payload.split('name=')[2].split('value=')[1].split('>')[0].replace('\"','');\n\nvar name3 = msg.payload.split('name=')[3].replace('\"','').replace('\"','').split(' ')[0];\nvar value3 = msg.payload.split('name=')[3].split('value=')[1].split('>')[0].replace('\"','');\n\nvar name4 = msg.payload.split('name=')[4].replace('\"','').replace('\"','').split(' ')[0];\nvar value4 = msg.payload.split('name=')[4].split('value=')[1].split('>')[0].replace('\"','');\n\n\nmsg.payload = '{\"' + name1 + '\":\"' + value1 + ',' + '\"' + name2 + '\":\"' + value2 + \n                ',' + '\"' + name3 + '\":\"' + value3 + ',' + '\"' + name4 + '\":\"' + value4 + '}'\n                \n   \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 5380,
        "wires": [["99db3646d50810df"]]
    },
    {
        "id": "99db3646d50810df",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "maxlength=\"16\" /", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "id=\"AdmPswd\"", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 5320,
        "wires": [["5c6b9b7e74af797c"]]
    },
    { "id": "5c6b9b7e74af797c", "type": "json", "z": "faa08695e1670414", "name": "", "property": "payload", "action": "", "pretty": false, "x": 1290, "y": 5320, "wires": [["5e1c29a2dd3f3f29"]] },
    {
        "id": "e9a6fc98d3b098f0",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "function 8",
        "func": "var name1 = msg.payload.split('<br')[2].replace('/', '').replace('>', '').replace('\\n', '').replace('\t', '');\nvar name2 = msg.payload.split('<br')[3].replace('/', '').replace('>', '').replace('\\n', '').replace('\t', '');\nvar name3 = msg.payload.split('<br')[4].replace('/', '').replace('>', '').replace('\\n', '').replace('\t', '');\n\n\nmsg.payload = name1 + '\\n' + name2 + '\\n' + name3 \n                \n   \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 5640,
        "wires": [["11a816339e5345f2"]]
    },
    {
        "id": "11a816339e5345f2",
        "type": "change",
        "z": "faa08695e1670414",
        "name": "",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "Versione", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "firmware", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 5640,
        "wires": [["e9bf7ebb2448609e"]]
    },
    {
        "id": "8f03c6fd7e410c9d",
        "type": "function",
        "z": "faa08695e1670414",
        "name": "function 2",
        "func": "var name1 = msg.payload.split('<select')[1].split('name=')[1].split('>')[0].replace('\"', '').replace('\"', '');\nvar value1 = msg.payload.split('selected=')[1].split('value=')[1].split('>')[0].replace('\"', '').replace('\"', '');\n\nvar name2 = msg.payload.split('<select')[2].split('name=')[1].split('>')[0].replace('\"', '').replace('\"', '');\nvar value2 = msg.payload.split('selected=')[2].split('value=')[1].split('>')[0].replace('\"', '').replace('\"', '');\n\nvar name3 = msg.payload.split('<select')[3].split('name=')[1].split('>')[0].replace('\"', '').replace('\"', '');\nvar value3 = msg.payload.split('selected=')[3].split('value=')[1].split('>')[0].replace('\"', '').replace('\"', '');\n\nvar name4 = msg.payload.split('<select')[4].split('name=')[1].split('>')[0].replace('\"', '').replace('\"', '');\nvar value4 = msg.payload.split('selected=')[4].split('value=')[1].split('>')[0].replace('\"', '').replace('\"', '');\n\nvar name5 = msg.payload.split('<select')[5].split('name=')[1].split('>')[0].replace('\"', '').replace('\"', '');\nvar value5 = msg.payload.split('selected=')[5].split('value=')[1].split('>')[0].replace('\"', '').replace('\"', '');\n\nvar name6 = msg.payload.split('<select')[6].split('name=')[1].split('>')[0].replace('\"', '').replace('\"', '');\nvar value6 = msg.payload.split('selected=')[6].split('value=')[1].split('>')[0].replace('\"', '').replace('\"', '');\n\nmsg.payload = '{\"' + name1 + '\":\"' + value1 + '\",' + '\"' + name2 + '\":\"' + value2 + '\"' +\n                ',' + '\"' + name3 + '\":\"' + value3 + '\",' + '\"' + name4 + '\":\"' + value4 + '\"' +\n\t\t\t\t',' + '\"' + name5 + '\":\"' + value5 + '\",' + '\"' + name6 + '\":\"' + value6 + '\"}'\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 2560,
        "wires": [["41841f7850c6d545"]]
    },
    { "id": "7b7c9f8c1b348c38", "type": "ialarm status", "z": "faa08695e1670414", "server": "d67506a6425dc3c9", "waitnames": false, "x": 590, "y": 1280, "wires": [["96c7217c9f4668ba", "a19a13ef11e9c1f1"]] },
    { "id": "bda3441f2c2c8960", "type": "ialarm events", "z": "faa08695e1670414", "server": "d67506a6425dc3c9", "x": 600, "y": 880, "wires": [["1b62c61f33848ce8", "35202ed2e7c324e1", "3991344b08c183f5", "09b6a17c92c06664"]] },
    { "id": "8b63d5ad08dcbb37", "type": "ialarm command", "z": "faa08695e1670414", "server": "d67506a6425dc3c9", "x": 630, "y": 360, "wires": [[]] },
    {
        "id": "c851cc16.b7689",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "core-mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "779b93e72e4a751d",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Camera letto",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "Camera letto" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "window" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "0540267783e8e6f3",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Bagno",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "Bagno" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "window" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "1e805f8d047dd248",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Cucina",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "Cucina" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "window" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "537e43dfc182bae3",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Bagnetto",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "Bagnetto" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "window" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "cffb3f8348d3e7db",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Studio",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "Studio" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "window" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "08e4c0f22a60833d",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "batteria Studio",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "batteria Studio" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "battery" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "dad9b7d3b01569e5",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "batteria Bagnetto",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "batteria Bagnetto" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "battery" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "eb3ca4e20677d1a9",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "batteria Cucina",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "batteria Cucina" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "battery" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "d16d287ceba206d6",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "batteria Camera letto",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "batteria Camera letto" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "battery" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "7b4a579a338bd351",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "batteria Bagno",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "batteria Bagno" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "battery" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "c2e227a8.d7a3b8",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Registro",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Registro" },
            { "property": "icon", "value": "mdi:format-list-bulleted-type" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "cc2c45217d90dcd4",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina GPRS Setting",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina GPRS Setting" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "ed1333ab76c3784c",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Opzioni Allarme",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Opzioni Allarme" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "f0417423b7a10ab8",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Opzioni Sistema",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Opzioni Sistema" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "996820ecd152208d",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Numeri Allarme",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Numeri Allarme" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "9242ea67a6bc740a",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Rete Setting",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Rete Setting" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "a7154fcd0845fe07",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Versione",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Versione" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "c28dd76ec51f0bc6",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Porta",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "Porta" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "door" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "8d1779dff6502fdb",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "batteria Porta",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "batteria Porta" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "battery" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "0614cec4f313760d",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Email Setting",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Email Setting" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "a890883e9dd8328b",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Password Setting",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Password Setting" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "a187c3f933cd63b6",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Stato Allarme",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Stato Allarme" },
            { "property": "icon", "value": "mdi:list-status" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "ae053d233a9db0df",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Cancel",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Cancel" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "0675911be9a95f2c",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Arma",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Arma" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "465a5e9a07c12d84",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Disarma",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Disarma" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "da4545a2172f41a0",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Arma in casa",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Arma in casa" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "d9bf71d767ebada9",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Cloud Setting",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Cloud Setting" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "c96268fbb82ab2cc",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Bypass Camera letto",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Bypass Camera letto" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "59273459fa616699",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Bypass Bagno",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Bypass Bagno" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "2892260dbd032322",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Bypass Cucina",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Bypass Cucina" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "602d90c6cea8f9d3",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Bypass Studio",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Bypass Studio" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "c539854c3a2a8733",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Bypass Bagnetto",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Bypass Bagnetto" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "a40a2aa127d11e4f",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Bypass Porta",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Bypass Porta" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "80727a70e09eef0b",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Ultimo comando",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Ultimo comando" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "0354f1bb7071ad77",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Update Option",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Update Option" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "0fd7b03a0227a665",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Update UserPhone",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Update UserPhone" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "b8c80fa927617b66",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Update Network",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Update Network" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "78ce723ee5382697",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Update Email",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Update Email" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "622d65627b56d430",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Update AlarmEvent",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Update AlarmEvent" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "d5b9fac84ef548ea",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Update Password",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Update Password" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "f9cc6903dcdb1edf",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Update Versione",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Update Versione" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "9825c13c1ff23a11",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Reboot",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Reboot" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "restart" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "e9be16f28869dbea",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina SOS/Panico",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina SOS/Panico" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "running" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "9fec570b7b2350b5",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "batteria PIR",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "batteria PIR" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "battery" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "9519ee48b33f51d5",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Bypass PIR",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Bypass PIR" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "382f9d4402ac6e8f",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Assenza corrente",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Assenza corrente" },
            { "property": "icon", "value": "mdi:sine-wave" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "running" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "b7f180c28d71c281",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "PIR",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "PIR" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "da885884a1c341c8",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina UserPhone Input",
        "version": "6",
        "entityType": "text",
        "haConfig": [
            { "property": "name", "value": "Centralina UserPhone Input" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "mode", "value": "text" },
            { "property": "min_length", "value": "" },
            { "property": "max_length", "value": "" },
            { "property": "pattern", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "ee5bf028a68dceb8",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Network Input",
        "version": "6",
        "entityType": "text",
        "haConfig": [
            { "property": "name", "value": "Centralina Network Input" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "mode", "value": "text" },
            { "property": "min_length", "value": "" },
            { "property": "max_length", "value": "" },
            { "property": "pattern", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "f58ab88c205855e3",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Email Input",
        "version": "6",
        "entityType": "text",
        "haConfig": [
            { "property": "name", "value": "Centralina Email Input" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "mode", "value": "text" },
            { "property": "min_length", "value": "" },
            { "property": "max_length", "value": "" },
            { "property": "pattern", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "1cd1d8442a3d28a4",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina APN Input",
        "version": "6",
        "entityType": "text",
        "haConfig": [
            { "property": "name", "value": "Centralina APN Input" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "mode", "value": "text" },
            { "property": "min_length", "value": "" },
            { "property": "max_length", "value": "" },
            { "property": "pattern", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "890e4068c61a21fe",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Wireless Input",
        "version": "6",
        "entityType": "text",
        "haConfig": [
            { "property": "name", "value": "Centralina Wireless Input" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "mode", "value": "text" },
            { "property": "min_length", "value": "" },
            { "property": "max_length", "value": "" },
            { "property": "pattern", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "43e18274bb648b1f",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Zone Input",
        "version": "6",
        "entityType": "text",
        "haConfig": [
            { "property": "name", "value": "Centralina Zone Input" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "mode", "value": "text" },
            { "property": "min_length", "value": "" },
            { "property": "max_length", "value": "" },
            { "property": "pattern", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "aa3911768117bcaf",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina CloudSetting Input",
        "version": "6",
        "entityType": "text",
        "haConfig": [
            { "property": "name", "value": "Centralina CloudSetting Input" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "mode", "value": "text" },
            { "property": "min_length", "value": "" },
            { "property": "max_length", "value": "" },
            { "property": "pattern", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "df0e4744bd1a71eb",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "7f4edd307f5ff402",
        "name": "Centralina Option Input",
        "version": "6",
        "entityType": "text",
        "haConfig": [
            { "property": "name", "value": "Centralina Option Input" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "mode", "value": "text" },
            { "property": "min_length", "value": "" },
            { "property": "max_length", "value": "" },
            { "property": "pattern", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    { "id": "d67506a6425dc3c9", "type": "ialarm-server", "host": "192.168.1.16", "port": "80", "username": "admin", "password": "01234", "zones": "8" },
    {
        "id": "2b77899a.ed9b86",
        "type": "server",
        "name": "homeassistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "statusTimeFormat": "h:m:s",
        "enableGlobalContextStore": false
    },
    { "id": "7f4edd307f5ff402", "type": "ha-device-config", "name": "Centralina CasaSicura", "hwVersion": "", "manufacturer": "Node-RED", "model": "", "swVersion": "" }
]
