CasaSicura_NodeRed.json
[
    { "id": "0d84a5828dbaa0cb", "type": "tab", "label": "allarme casasicura", "disabled": false, "info": "" },
    { "id": "2d76fe5f7bfb4d0b", "type": "ialarm status", "z": "0d84a5828dbaa0cb", "server": "617ddfd5.c639a", "waitnames": false, "x": 650, "y": 1280, "wires": [["0a91f40502f50932", "649bdf2ae5cc9e23"]] },
    { "id": "809c368b98a529ec", "type": "ialarm events", "z": "0d84a5828dbaa0cb", "server": "617ddfd5.c639a", "x": 600, "y": 880, "wires": [["07fb5b9ca119dfd0", "81dce0589b8c58b8", "40f6242a656bc567", "b4cd82a9f9749697"]] },
    { "id": "db1de328a0e917b9", "type": "ialarm command", "z": "0d84a5828dbaa0cb", "server": "617ddfd5.c639a", "x": 630, "y": 360, "wires": [[]] },
    {
        "id": "09c373bdc0feaa8d",
        "type": "mqtt in",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "topic": "home/alarm/set",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c851cc16.b7689",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 320,
        "y": 360,
        "wires": [["db1de328a0e917b9"]]
    },
    { "id": "42a2cd4775ad2de1", "type": "mqtt out", "z": "0d84a5828dbaa0cb", "name": "", "topic": "home/alarm/state", "qos": "2", "retain": "", "broker": "c851cc16.b7689", "x": 990, "y": 1080, "wires": [] },
    {
        "id": "bedcfea2257f4e5a",
        "type": "ha-binary-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Camera letto",
        "entityConfig": "779b93e72e4a751d",
        "version": 0,
        "state": "payload.zones[0].open",
        "stateType": "msg",
        "attributes": [
            { "property": "bypass", "value": "payload.zones[0].bypass", "valueType": "msg" },
            { "property": "lowbat", "value": "payload.zones[0].lowbat", "valueType": "msg" },
            { "property": "type", "value": "payload.zones[0].type", "valueType": "msg" },
            { "property": "fault", "value": "payload.zones[0].fault", "valueType": "msg" },
            { "property": "message", "value": "payload.zones[0].message", "valueType": "msg" },
            { "property": "name", "value": "payload.zones[0].name", "valueType": "msg" },
            { "property": "open", "value": "payload.zones[0].open", "valueType": "msg" },
            { "property": "id", "value": "payload.zones[0].id", "valueType": "msg" },
            { "property": "lastChecked", "value": "payload.zones[0].lastChecked", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1950,
        "y": 1000,
        "wires": [["a6474a6aa4c8292c"]]
    },
    {
        "id": "ed3b89d40cf50992",
        "type": "ha-binary-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Bagno",
        "entityConfig": "0540267783e8e6f3",
        "version": 0,
        "state": "payload.zones[1].open",
        "stateType": "msg",
        "attributes": [
            { "property": "bypass", "value": "payload.zones[1].bypass", "valueType": "msg" },
            { "property": "lowbat", "value": "payload.zones[1].lowbat", "valueType": "msg" },
            { "property": "type", "value": "payload.zones[1].type", "valueType": "msg" },
            { "property": "fault", "value": "payload.zones[1].fault", "valueType": "msg" },
            { "property": "message", "value": "payload.zones[1].message", "valueType": "msg" },
            { "property": "name", "value": "payload.zones[1].name", "valueType": "msg" },
            { "property": "open", "value": "payload.zones[1].open", "valueType": "msg" },
            { "property": "id", "value": "payload.zones[1].id", "valueType": "msg" },
            { "property": "lastChecked", "value": "payload.zones[1].lastChecked", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1930,
        "y": 1140,
        "wires": [["8718851ab82c6858"]]
    },
    {
        "id": "cf5528acafba9375",
        "type": "ha-binary-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Cucina",
        "entityConfig": "1e805f8d047dd248",
        "version": 0,
        "state": "payload.zones[2].open",
        "stateType": "msg",
        "attributes": [
            { "property": "bypass", "value": "payload.zones[2].bypass", "valueType": "msg" },
            { "property": "lowbat", "value": "payload.zones[2].lowbat", "valueType": "msg" },
            { "property": "type", "value": "payload.zones[2].type", "valueType": "msg" },
            { "property": "fault", "value": "payload.zones[2].fault", "valueType": "msg" },
            { "property": "message", "value": "payload.zones[2].message", "valueType": "msg" },
            { "property": "name", "value": "payload.zones[2].name", "valueType": "msg" },
            { "property": "open", "value": "payload.zones[2].open", "valueType": "msg" },
            { "property": "id", "value": "payload.zones[2].id", "valueType": "msg" },
            { "property": "lastChecked", "value": "payload.zones[2].lastChecked", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1940,
        "y": 1260,
        "wires": [["12b45198aca6d231"]]
    },
    {
        "id": "5f56c169300d8788",
        "type": "ha-binary-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Bagnetto",
        "entityConfig": "537e43dfc182bae3",
        "version": 0,
        "state": "payload.zones[3].open",
        "stateType": "msg",
        "attributes": [
            { "property": "bypass", "value": "payload.zones[3].bypass", "valueType": "msg" },
            { "property": "lowbat", "value": "payload.zones[3].lowbat", "valueType": "msg" },
            { "property": "type", "value": "payload.zones[3].type", "valueType": "msg" },
            { "property": "fault", "value": "payload.zones[3].fault", "valueType": "msg" },
            { "property": "message", "value": "payload.zones[3].message", "valueType": "msg" },
            { "property": "name", "value": "payload.zones[3].name", "valueType": "msg" },
            { "property": "open", "value": "payload.zones[3].open", "valueType": "msg" },
            { "property": "id", "value": "payload.zones[3].id", "valueType": "msg" },
            { "property": "lastChecked", "value": "payload.zones[3].lastChecked", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1940,
        "y": 1380,
        "wires": [["fb4327bf5402ce27"]]
    },
    {
        "id": "0aaf576aaad896c9",
        "type": "ha-binary-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Studio",
        "entityConfig": "cffb3f8348d3e7db",
        "version": 0,
        "state": "payload.zones[4].open",
        "stateType": "msg",
        "attributes": [
            { "property": "bypass", "value": "payload.zones[4].bypass", "valueType": "msg" },
            { "property": "lowbat", "value": "payload.zones[4].lowbat", "valueType": "msg" },
            { "property": "type", "value": "payload.zones[4].type", "valueType": "msg" },
            { "property": "fault", "value": "payload.zones[4].fault", "valueType": "msg" },
            { "property": "message", "value": "payload.zones[4].message", "valueType": "msg" },
            { "property": "name", "value": "payload.zones[4].name", "valueType": "msg" },
            { "property": "open", "value": "payload.zones[4].open", "valueType": "msg" },
            { "property": "id", "value": "payload.zones[4].id", "valueType": "msg" },
            { "property": "lastChecked", "value": "payload.zones[4].lastChecked", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1930,
        "y": 1480,
        "wires": [["9934aba58329eb39"]]
    },
    {
        "id": "9934aba58329eb39",
        "type": "ha-binary-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "batteria Studio",
        "entityConfig": "08e4c0f22a60833d",
        "version": 0,
        "state": "payload.zones[4].lowbat",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2220,
        "y": 1540,
        "wires": [["37777606b5484957"]]
    },
    {
        "id": "fb4327bf5402ce27",
        "type": "ha-binary-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "batteria Bagnetto",
        "entityConfig": "dad9b7d3b01569e5",
        "version": 0,
        "state": "payload.zones[3].lowbat",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2230,
        "y": 1420,
        "wires": [["6b14b38c0aad3de1"]]
    },
    {
        "id": "12b45198aca6d231",
        "type": "ha-binary-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "batteria Cucina",
        "entityConfig": "eb3ca4e20677d1a9",
        "version": 0,
        "state": "payload.zones[2].lowbat",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2220,
        "y": 1280,
        "wires": [["051855deccd6ce35"]]
    },
    {
        "id": "a6474a6aa4c8292c",
        "type": "ha-binary-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "batteria Camera letto",
        "entityConfig": "d16d287ceba206d6",
        "version": 0,
        "state": "payload.zones[0].lowbat",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2240,
        "y": 1000,
        "wires": [["4783b23a34d9f97f"]]
    },
    {
        "id": "8718851ab82c6858",
        "type": "ha-binary-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "batteria Bagno",
        "entityConfig": "7b4a579a338bd351",
        "version": 0,
        "state": "payload.zones[1].lowbat",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2220,
        "y": 1140,
        "wires": [["a1f130e3949ff9bc"]]
    },
    {
        "id": "e5ac69426b2c587e",
        "type": "ha-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Registro",
        "entityConfig": "c2e227a8.d7a3b8",
        "version": 0,
        "state": "payload[0].message & payload[0].name & \" \" & payload[0].zone",
        "stateType": "jsonata",
        "attributes": [
            { "property": "Zona", "value": "payload[0].zone", "valueType": "msg" },
            { "property": "Sensore", "value": "payload[0].name", "valueType": "msg" },
            { "property": "Messaggio", "value": "payload[0].message", "valueType": "msg" },
            { "property": "Data", "value": "payload[0].date", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2010,
        "y": 440,
        "wires": [[]]
    },
    {
        "id": "07fb5b9ca119dfd0",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica messaggi Panico",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Panico", "fromt": "str", "to": "SOS/Panico ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 320,
        "wires": [["b56fc7863f34c5d6"]]
    },
    {
        "id": "b56fc7863f34c5d6",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica messaggi Zona Bypass",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Zona Bypass", "fromt": "str", "to": " Bypass attivato ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 360,
        "wires": [["57dfbe23bbb74c3e"]]
    },
    {
        "id": "649bdf2ae5cc9e23",
        "type": "function",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 1280,
        "wires": [["bedcfea2257f4e5a", "ed3b89d40cf50992", "cf5528acafba9375", "5f56c169300d8788", "0aaf576aaad896c9", "7aa4a236e582c2a6", "567536967a5c7402"]]
    },
    {
        "id": "57dfbe23bbb74c3e",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica messaggi Zone Bypass Cancellata",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Zone Bypass Cancellata", "fromt": "str", "to": " Bypass cancellato ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 400,
        "wires": [["3b6d08a62ab7d040"]]
    },
    {
        "id": "3b6d08a62ab7d040",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica messaggi Perimetrale",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Perimetrale", "fromt": "str", "to": "Allarme ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 440,
        "wires": [["15bca2cbf1e0fe4a"]]
    },
    {
        "id": "15bca2cbf1e0fe4a",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica messaggi Ritardata",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Ritardata", "fromt": "str", "to": "Allarme ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 480,
        "wires": [["5d6826834323f99c"]]
    },
    {
        "id": "5d6826834323f99c",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica messaggi Interna",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Interna", "fromt": "str", "to": "Allarme ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 520,
        "wires": [["4cbc1c5c82ce93e5"]]
    },
    {
        "id": "c83189a6b88ad88f",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Report Status",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "disarmed", "fromt": "str", "to": "Disarmato", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "armed_away", "fromt": "str", "to": "Attivo fuori casa", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "armed_home", "fromt": "str", "to": "Attivo in casa", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "triggered", "fromt": "str", "to": "In allarme", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "cancel", "fromt": "str", "to": "Cancellato", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1020,
        "wires": [["6862d043b1dc1c4f"]]
    },
    {
        "id": "81dce0589b8c58b8",
        "type": "function",
        "z": "0d84a5828dbaa0cb",
        "name": "Cerca message Panico",
        "func": "if (msg.payload[0].message === 'Panico') {\n    msg.enable = true;\n} else {\n    msg.enable = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 840,
        "wires": [["8782e73bc4fe397d"]]
    },
    {
        "id": "ebcbbb78d9731066",
        "type": "inject",
        "z": "0d84a5828dbaa0cb",
        "name": "timestamp +15s +1h",
        "props": [{ "p": "payload" }, { "p": "method", "v": "GET", "vt": "str" }, { "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "4500",
        "crontab": "",
        "once": true,
        "onceDelay": "15",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1180,
        "y": 3080,
        "wires": [["a1ca3f82da033447"]]
    },
    {
        "id": "a1ca3f82da033447",
        "type": "http request",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.170:80/UserPhone.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1350,
        "y": 3180,
        "wires": [["1397a9e0e06d8509"]]
    },
    { "id": "1397a9e0e06d8509", "type": "html", "z": "0d84a5828dbaa0cb", "name": "", "property": "payload", "outproperty": "payload", "tag": "div", "ret": "html", "as": "single", "x": 1330, "y": 3240, "wires": [["caa8b3635b15596d"]] },
    {
        "id": "caa8b3635b15596d",
        "type": "html",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "property": "payload[6]",
        "outproperty": "payload",
        "tag": "td",
        "ret": "html",
        "as": "single",
        "x": 1330,
        "y": 3300,
        "wires": [["b3f5b1cbfba9cbe3", "490cdff77cbc0648"]]
    },
    {
        "id": "b3f5b1cbfba9cbe3",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Num 1",
        "rules": [
            { "t": "change", "p": "payload[1]", "pt": "msg", "from": "<input name=\"Phone1\" type=\"text\" id=\"Phone1\" maxlength=\"18\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[1]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[1]", "pt": "msg", "from": "0039", "fromt": "str", "to": "+39 ", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 3200,
        "wires": [["3189540dd9ffba56"]]
    },
    { "id": "42a4834127082248", "type": "comment", "z": "0d84a5828dbaa0cb", "name": "Numeri telefonici", "info": "", "x": 1640, "y": 3160, "wires": [] },
    {
        "id": "3189540dd9ffba56",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Num 2",
        "rules": [
            { "t": "change", "p": "payload[3]", "pt": "msg", "from": "<input name=\"Phone2\" type=\"text\" id=\"Phone2\" maxlength=\"18\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[3]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[3]", "pt": "msg", "from": "0039", "fromt": "str", "to": "+39 ", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 3240,
        "wires": [["ef5f92587f6e7953"]]
    },
    {
        "id": "ef5f92587f6e7953",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Num 3",
        "rules": [
            { "t": "change", "p": "payload[5]", "pt": "msg", "from": "<input name=\"Phone3\" type=\"text\" id=\"Phone3\" maxlength=\"18\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[5]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[5]", "pt": "msg", "from": "0039", "fromt": "str", "to": "+39 ", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 3280,
        "wires": [["606e145556456d83"]]
    },
    {
        "id": "606e145556456d83",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Num 4",
        "rules": [
            { "t": "change", "p": "payload[7]", "pt": "msg", "from": "<input name=\"Phone4\" type=\"text\" id=\"Phone4\" maxlength=\"18\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[7]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[7]", "pt": "msg", "from": "0039", "fromt": "str", "to": "+39 ", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 3320,
        "wires": [["707338468b6689c9"]]
    },
    {
        "id": "707338468b6689c9",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Tentativi",
        "rules": [
            { "t": "change", "p": "payload[9]", "pt": "msg", "from": "<input name=\"DialCnt\" type=\"text\" id=\"DialCnt\" maxlength=\"2\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[9]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 3360,
        "wires": [["48db3c0fe4a4e9fa"]]
    },
    {
        "id": "490cdff77cbc0648",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "IP pubblico",
        "rules": [
            { "t": "change", "p": "payload[11]", "pt": "msg", "from": "<input name=\"ip\" type=\"text\" id=\"ip\" maxlength=\"15\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[11]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 3440,
        "wires": [["f111d31186aeb9fc"]]
    },
    { "id": "e3d3fefdc6fabac4", "type": "comment", "z": "0d84a5828dbaa0cb", "name": "Centro Controllo Cloud", "info": "", "x": 1651.6666259765625, "y": 3400, "wires": [] },
    {
        "id": "76e80ef01e128c1a",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "ID Centrale",
        "rules": [
            { "t": "change", "p": "payload[15]", "pt": "msg", "from": "<input name=\"user\" type=\"text\" disabled=\"disabled\" id=\"user\" maxlength=\"16\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[15]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 3520,
        "wires": [["dcbe07d8d90df33c"]]
    },
    {
        "id": "dcbe07d8d90df33c",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Password",
        "rules": [
            { "t": "change", "p": "payload[17]", "pt": "msg", "from": "<input name=\"pwd\" type=\"text\" id=\"pwd\" maxlength=\"16\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[17]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 3560,
        "wires": [["2d69b3bf4c09953f"]]
    },
    {
        "id": "f111d31186aeb9fc",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Porta",
        "rules": [
            { "t": "change", "p": "payload[13]", "pt": "msg", "from": "<input name=\"port\" type=\"text\" id=\"port\" maxlength=\"5\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[13]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 3480,
        "wires": [["76e80ef01e128c1a"]]
    },
    {
        "id": "2a176fdd34b36e6a",
        "type": "http request",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.170:80/Network.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1290,
        "y": 3720,
        "wires": [["3b7d7452f48b0fb3"]]
    },
    { "id": "3b7d7452f48b0fb3", "type": "html", "z": "0d84a5828dbaa0cb", "name": "", "property": "payload", "outproperty": "payload", "tag": "div", "ret": "html", "as": "single", "x": 1270, "y": 3780, "wires": [["e29494d5e534876a"]] },
    { "id": "e29494d5e534876a", "type": "html", "z": "0d84a5828dbaa0cb", "name": "", "property": "payload[6]", "outproperty": "payload", "tag": "td", "ret": "html", "as": "single", "x": 1270, "y": 3840, "wires": [["9797e67bcb4294d8"]] },
    {
        "id": "9797e67bcb4294d8",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "MAC",
        "rules": [
            { "t": "change", "p": "payload[1]", "pt": "msg", "from": "<input name=\"mac\" type=\"text\" id=\"mac\" maxlength=\"18\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[1]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1510,
        "y": 3760,
        "wires": [["99832e553340e2b3"]]
    },
    { "id": "6ad283c40e45687e", "type": "comment", "z": "0d84a5828dbaa0cb", "name": "Configurazione di rete", "info": "", "x": 1560, "y": 3720, "wires": [] },
    {
        "id": "99832e553340e2b3",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Nome centrale",
        "rules": [
            { "t": "change", "p": "payload[3]", "pt": "msg", "from": "<input name=\"name\" type=\"text\" id=\"name\" maxlength=\"18\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[3]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 3800,
        "wires": [["ba8543e48fa436a7"]]
    },
    {
        "id": "ba8543e48fa436a7",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Indirizzo IP",
        "rules": [
            { "t": "change", "p": "payload[5]", "pt": "msg", "from": "<input name=\"ip\" type=\"text\" id=\"ip\" maxlength=\"15\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[5]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1530,
        "y": 3840,
        "wires": [["6ea1c9b70ce37634"]]
    },
    {
        "id": "6ea1c9b70ce37634",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Gateway",
        "rules": [
            { "t": "change", "p": "payload[7]", "pt": "msg", "from": "<input name=\"gateway\" type=\"text\" id=\"gateway\" maxlength=\"15\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[7]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 3880,
        "wires": [["e0aeac07a8289adc"]]
    },
    {
        "id": "e0aeac07a8289adc",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Subnet Mask",
        "rules": [
            { "t": "change", "p": "payload[9]", "pt": "msg", "from": "<input name=\"mask\" type=\"text\" id=\"mask\" maxlength=\"15\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[9]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1530,
        "y": 3920,
        "wires": [["86316172453a2153"]]
    },
    {
        "id": "86316172453a2153",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "DNS primario",
        "rules": [
            { "t": "change", "p": "payload[11]", "pt": "msg", "from": "<input name=\"dns1\" type=\"text\" id=\"dns1\" maxlength=\"15\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[11]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1530,
        "y": 3960,
        "wires": [["ea733f8c9d9c931f"]]
    },
    {
        "id": "ea733f8c9d9c931f",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "DNS secondario",
        "rules": [
            { "t": "change", "p": "payload[13]", "pt": "msg", "from": "<input name=\"dns2\" type=\"text\" id=\"dns2\" maxlength=\"15\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[13]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 4000,
        "wires": [["1e87a63adbc8140b"]]
    },
    {
        "id": "ccf1c4ee461b500b",
        "type": "http request",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.170:80/Option.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1310,
        "y": 2400,
        "wires": [["cff0c91ef1898466"]]
    },
    { "id": "cff0c91ef1898466", "type": "html", "z": "0d84a5828dbaa0cb", "name": "", "property": "payload", "outproperty": "payload", "tag": "div", "ret": "html", "as": "single", "x": 1290, "y": 2460, "wires": [["0ee8b29e574d5fa0"]] },
    {
        "id": "0ee8b29e574d5fa0",
        "type": "html",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "property": "payload[6]",
        "outproperty": "payload",
        "tag": "td",
        "ret": "html",
        "as": "single",
        "x": 1290,
        "y": 2520,
        "wires": [["1173d64ca0ca7a04", "b7710f091205f6da"]]
    },
    {
        "id": "1173d64ca0ca7a04",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Ritardo di ingresso",
        "rules": [
            { "t": "change", "p": "payload[1]", "pt": "msg", "from": "<input name=\"Indelay\" type=\"text\" id=\"Indelay\" maxlength=\"3\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[1]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1750,
        "y": 2420,
        "wires": [["156228fb298f3279"]]
    },
    { "id": "c7bd22fa409198f3", "type": "comment", "z": "0d84a5828dbaa0cb", "name": "Opzioni di sistema", "info": "", "x": 1750, "y": 2380, "wires": [] },
    {
        "id": "156228fb298f3279",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Ritardo di uscita",
        "rules": [
            { "t": "change", "p": "payload[3]", "pt": "msg", "from": "<input name=\"OutDelay\" type=\"text\" id=\"OutDelay\" maxlength=\"3\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[3]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 2460,
        "wires": [["ab028e43f20282a6"]]
    },
    {
        "id": "ab028e43f20282a6",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Durata allarme sirena",
        "rules": [
            { "t": "change", "p": "payload[5]", "pt": "msg", "from": "<input name=\"BellTime\" type=\"text\" id=\"BellTime\" maxlength=\"2\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[5]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 2500,
        "wires": [["6c6ca40e369405a8"]]
    },
    {
        "id": "6c6ca40e369405a8",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Supervisione radio",
        "rules": [
            { "t": "change", "p": "payload[7]", "pt": "msg", "from": "<input name=\"wlsLose\" type=\"text\" id=\"wlsLose\" maxlength=\"2\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[7]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1750,
        "y": 2540,
        "wires": [["e439e66581075821"]]
    },
    {
        "id": "e439e66581075821",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Mancanza AC 220V",
        "rules": [
            { "t": "change", "p": "payload[9]", "pt": "msg", "from": "<input name=\"AC_Detect\" type=\"text\" id=\"AC_Detect\" maxlength=\"2\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[9]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 2580,
        "wires": [["738d9754f6c0fafd"]]
    },
    {
        "id": "738d9754f6c0fafd",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Controllo comunicazione",
        "rules": [
            { "t": "change", "p": "payload[11]", "pt": "msg", "from": "<input name=\"Comm\" type=\"text\" id=\"Comm\" maxlength=\"3\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[11]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 2620,
        "wires": [["369d9af5f5d5a8b8"]]
    },
    {
        "id": "f5deb20ace5f1621",
        "type": "html",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "property": "payload[17]",
        "outproperty": "payload[17]",
        "tag": "select",
        "ret": "html",
        "as": "single",
        "x": 1530,
        "y": 2740,
        "wires": [["5a2bbec28423bf49"]]
    },
    {
        "id": "72b2e170af2b9374",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Report ON/OFF",
        "rules": [
            { "t": "change", "p": "payload[17][0]", "pt": "msg", "from": "<option selected=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[17][0]", "pt": "msg", "from": "<option value=\"2\">NO</option>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[17][0]", "pt": "msg", "from": "\t  ", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[17][0]", "pt": "msg", "from": ">SI</option>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[17][0]", "pt": "msg", "from": "value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[17][0]", "pt": "msg", "from": "\\n", "fromt": "re", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[17][0]", "pt": "msg", "from": "\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[17][0]", "pt": "msg", "from": ">NO</option>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[17][0]", "pt": "msg", "from": "<option 1", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[17][0]", "pt": "msg", "from": "selected 1", "fromt": "str", "to": "Si", "tot": "str" },
            { "t": "change", "p": "payload[17][0]", "pt": "msg", "from": "selected 2", "fromt": "str", "to": "No", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 2740,
        "wires": [["997a08f97f0a63a9"]]
    },
    {
        "id": "5a2bbec28423bf49",
        "type": "html",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "property": "payload[19]",
        "outproperty": "payload[19]",
        "tag": "select",
        "ret": "html",
        "as": "single",
        "x": 1530,
        "y": 2780,
        "wires": [["b2c7919ba0732643"]]
    },
    {
        "id": "997a08f97f0a63a9",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "ON centrale forzato",
        "rules": [
            { "t": "change", "p": "payload[19][0]", "pt": "msg", "from": "<option selected=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[19][0]", "pt": "msg", "from": "<option value=\"2\">NO</option>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[19][0]", "pt": "msg", "from": "\t  ", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[19][0]", "pt": "msg", "from": ">SI</option>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[19][0]", "pt": "msg", "from": "value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[19][0]", "pt": "msg", "from": "\\n", "fromt": "re", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[19][0]", "pt": "msg", "from": "\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[19][0]", "pt": "msg", "from": ">NO</option>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[19][0]", "pt": "msg", "from": "<option 1", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[19][0]", "pt": "msg", "from": "selected 1", "fromt": "str", "to": "Si", "tot": "str" },
            { "t": "change", "p": "payload[19][0]", "pt": "msg", "from": "selected 2", "fromt": "str", "to": "No", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1750,
        "y": 2780,
        "wires": [["6fbfa95d41b6d6b7"]]
    },
    {
        "id": "b2c7919ba0732643",
        "type": "html",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "property": "payload[21]",
        "outproperty": "payload[21]",
        "tag": "select",
        "ret": "html",
        "as": "single",
        "x": 1530,
        "y": 2820,
        "wires": [["3c36478826d48b22"]]
    },
    {
        "id": "fb5de4c86967f8c1",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Tono acustico ON/OFF ",
        "rules": [
            { "t": "change", "p": "payload[15][0]", "pt": "msg", "from": "<option value=\"1\">Sirena suono breve</option>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[15][0]", "pt": "msg", "from": "\\n", "fromt": "re", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[15][0]", "pt": "msg", "from": "<option selected=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[15][0]", "pt": "msg", "from": "selected\" value=\"2\">", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[15][0]", "pt": "msg", "from": "</option>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[15][0]", "pt": "msg", "from": "\\n", "fromt": "re", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[15][0]", "pt": "msg", "from": "\t  ", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[15][0]", "pt": "msg", "from": "selected\" value=\"1\">", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[15][0]", "pt": "msg", "from": "<option value=\"2\">Disabilitato", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 2700,
        "wires": [["72b2e170af2b9374"]]
    },
    {
        "id": "b7710f091205f6da",
        "type": "html",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "property": "payload[15]",
        "outproperty": "payload[15]",
        "tag": "select",
        "ret": "html",
        "as": "single",
        "x": 1530,
        "y": 2700,
        "wires": [["f5deb20ace5f1621"]]
    },
    {
        "id": "6fbfa95d41b6d6b7",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Controllo aperto/chiuso",
        "rules": [
            { "t": "change", "p": "payload[21][0]", "pt": "msg", "from": "\\n", "fromt": "re", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[21][0]", "pt": "msg", "from": "<option selected=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[21][0]", "pt": "msg", "from": "<option value=\"2\"> NO</option>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[21][0]", "pt": "msg", "from": "\">SI </option>\t", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[21][0]", "pt": "msg", "from": "value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[21][0]", "pt": "msg", "from": "\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[21][0]", "pt": "msg", "from": "  ", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[21][0]", "pt": "msg", "from": "<option 1", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[21][0]", "pt": "msg", "from": "> NO</option>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[21][0]", "pt": "msg", "from": "selected 1", "fromt": "str", "to": "Si", "tot": "str" },
            { "t": "change", "p": "payload[21][0]", "pt": "msg", "from": "selected 2", "fromt": "str", "to": "No", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 2820,
        "wires": [["f4f801c002939958"]]
    },
    {
        "id": "f4f801c002939958",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Controllo tamper sensori",
        "rules": [
            { "t": "change", "p": "payload[23][0]", "pt": "msg", "from": "<option selected=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[23][0]", "pt": "msg", "from": "<option value=\"1\">SI</option>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[23][0]", "pt": "msg", "from": "\">NO</option>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[23][0]", "pt": "msg", "from": "value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[23][0]", "pt": "msg", "from": "\\n", "fromt": "re", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[23][0]", "pt": "msg", "from": "\t  ", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[23][0]", "pt": "msg", "from": "\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[23][0]", "pt": "msg", "from": ">SI</option><option 2", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[23][0]", "pt": "msg", "from": "selected 1", "fromt": "str", "to": "Si", "tot": "str" },
            { "t": "change", "p": "payload[23][0]", "pt": "msg", "from": "selected 2", "fromt": "str", "to": "No", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 2860,
        "wires": [["f12b515d8d69fbc9"]]
    },
    {
        "id": "3c36478826d48b22",
        "type": "html",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "property": "payload[23]",
        "outproperty": "payload[23]",
        "tag": "select",
        "ret": "html",
        "as": "single",
        "x": 1530,
        "y": 2860,
        "wires": [["ee740820c49b54dd"]]
    },
    {
        "id": "f12b515d8d69fbc9",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Riciclo allarme zone",
        "rules": [
            { "t": "change", "p": "payload[25][0]", "pt": "msg", "from": "<option selected=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[25][0]", "pt": "msg", "from": "<option value=\"1\">3 volte</option>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[25][0]", "pt": "msg", "from": "\">Illimitato</option>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[25][0]", "pt": "msg", "from": "value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[25][0]", "pt": "msg", "from": "\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[25][0]", "pt": "msg", "from": "\\n", "fromt": "re", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[25][0]", "pt": "msg", "from": "\t  ", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[25][0]", "pt": "msg", "from": ">3 volte</option><option 2", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[25][0]", "pt": "msg", "from": "selected 1", "fromt": "str", "to": "3 volte", "tot": "str" },
            { "t": "change", "p": "payload[25][0]", "pt": "msg", "from": "selected 2", "fromt": "str", "to": "illimitato", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 2900,
        "wires": [["22e9892547146f3a"]]
    },
    {
        "id": "ee740820c49b54dd",
        "type": "html",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "property": "payload[25]",
        "outproperty": "payload[25]",
        "tag": "select",
        "ret": "html",
        "as": "single",
        "x": 1530,
        "y": 2900,
        "wires": [["fb5de4c86967f8c1"]]
    },
    {
        "id": "a53541f8723e8d56",
        "type": "http request",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.170:80/AlarmEvent.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1450,
        "y": 4620,
        "wires": [["b0935c0957521cc1"]]
    },
    {
        "id": "e515bf6fe271cd5a",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "APN GPRS",
        "rules": [
            { "t": "change", "p": "payload[11]", "pt": "msg", "from": "<input name=\"apn\" type=\"text\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[11]", "pt": "msg", "from": " maxlength=\"45\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[11]", "pt": "msg", "from": "\"", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 4660,
        "wires": [["940b950c2e815804"]]
    },
    { "id": "b0935c0957521cc1", "type": "html", "z": "0d84a5828dbaa0cb", "name": "", "property": "payload", "outproperty": "payload", "tag": "div", "ret": "html", "as": "single", "x": 1430, "y": 4680, "wires": [["d41b3c3dc10b94ae"]] },
    { "id": "d41b3c3dc10b94ae", "type": "html", "z": "0d84a5828dbaa0cb", "name": "", "property": "payload[6]", "outproperty": "payload", "tag": "td", "ret": "html", "as": "single", "x": 1430, "y": 4740, "wires": [["e515bf6fe271cd5a"]] },
    {
        "id": "940b950c2e815804",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Utente GPRS",
        "rules": [
            { "t": "change", "p": "payload[13]", "pt": "msg", "from": "<input name=\"apn\" type=\"text\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[13]", "pt": "msg", "from": " maxlength=\"45\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[13]", "pt": "msg", "from": "\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[13]", "pt": "msg", "from": "<input name=user type=text value=", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 4700,
        "wires": [["e17a9c57ae3f4f22"]]
    },
    {
        "id": "e17a9c57ae3f4f22",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Password GPRS",
        "rules": [
            { "t": "change", "p": "payload[15]", "pt": "msg", "from": "<input name=\"apn\" type=\"text\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[15]", "pt": "msg", "from": " maxlength=\"45\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[15]", "pt": "msg", "from": "\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[15]", "pt": "msg", "from": "<input name=user type=text value=", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[15]", "pt": "msg", "from": "<input name=password type=text value=", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1750,
        "y": 4740,
        "wires": [["b874233b724673c7"]]
    },
    { "id": "98944152b39b503f", "type": "comment", "z": "0d84a5828dbaa0cb", "name": "/Option.htm", "info": "", "x": 1310, "y": 2360, "wires": [] },
    { "id": "5a80eacd10134ebd", "type": "comment", "z": "0d84a5828dbaa0cb", "name": "/Network.htm", "info": "", "x": 1290, "y": 3680, "wires": [] },
    { "id": "4defe01bc91de01a", "type": "comment", "z": "0d84a5828dbaa0cb", "name": "/UserPhone.htm", "info": "", "x": 1360, "y": 3140, "wires": [] },
    { "id": "6ebdf1d115c60f34", "type": "comment", "z": "0d84a5828dbaa0cb", "name": "Configurazione parametri GPRS", "info": "", "x": 1790, "y": 4620, "wires": [] },
    { "id": "35c1eb4dc1c933a5", "type": "comment", "z": "0d84a5828dbaa0cb", "name": "/AlarmEvent.htm", "info": "", "x": 1460, "y": 4580, "wires": [] },
    {
        "id": "3708716a72381234",
        "type": "ha-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina GPRS Setting",
        "entityConfig": "cc2c45217d90dcd4",
        "version": 0,
        "state": "Centralina GPRS Setting",
        "stateType": "str",
        "attributes": [
            { "property": "APN GPRS", "value": "payload[11]", "valueType": "msg" },
            { "property": "Utente GPRS", "value": "payload[13]", "valueType": "msg" },
            { "property": "Password GPRS", "value": "payload[15]", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2070,
        "y": 4680,
        "wires": [[]]
    },
    {
        "id": "df6798df849db5b1",
        "type": "ha-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Opzioni Allarme",
        "entityConfig": "ed1333ab76c3784c",
        "version": 0,
        "state": "Centralina Opzioni Allarme",
        "stateType": "str",
        "attributes": [
            { "property": "Countdown Sirena sec.", "value": "payload[1]", "valueType": "msg" },
            { "property": "Countdown Armato sec.", "value": "payload[3]", "valueType": "msg" },
            { "property": "Durata sirena min.", "value": "payload[5]", "valueType": "msg" },
            { "property": "Supervisione radio ore", "value": "payload[7]", "valueType": "msg" },
            { "property": "Notifica assenza AC min.", "value": "payload[9]", "valueType": "msg" },
            { "property": "Controllo comunicazione ore", "value": "payload[11]", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2120,
        "y": 2480,
        "wires": [[]]
    },
    {
        "id": "c6935b059e2b1f2c",
        "type": "ha-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Opzioni Sistema",
        "entityConfig": "f0417423b7a10ab8",
        "version": 0,
        "state": "Centralina Opzioni Sistema",
        "stateType": "str",
        "attributes": [
            { "property": "Tono sirena ON-OFF", "value": "payload[15][0]", "valueType": "msg" },
            { "property": "Report ON-OFF (CMS)", "value": "payload[17][0]", "valueType": "msg" },
            { "property": "ON sensori aperti", "value": "payload[19][0]", "valueType": "msg" },
            { "property": "Lettura sensori aperto-chiuso", "value": "payload[21][0]", "valueType": "msg" },
            { "property": "Controllo tamper sensori", "value": "payload[23][0]", "valueType": "msg" },
            { "property": "Limita allarmi su sensore", "value": "payload[25][0]", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2120,
        "y": 2780,
        "wires": [[]]
    },
    {
        "id": "c3c95cbf216162cb",
        "type": "ha-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Numeri Allarme",
        "entityConfig": "996820ecd152208d",
        "version": 0,
        "state": "Centralina Numeri Allarme",
        "stateType": "str",
        "attributes": [
            { "property": "Num.1", "value": "payload[1]", "valueType": "msg" },
            { "property": "Num.2", "value": "payload[3]", "valueType": "msg" },
            { "property": "Num.3", "value": "payload[5]", "valueType": "msg" },
            { "property": "Num.4", "value": "payload[7]", "valueType": "msg" },
            { "property": "Tentativi", "value": "payload[9]", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1960,
        "y": 3260,
        "wires": [[]]
    },
    {
        "id": "0cfbad5dae7bde57",
        "type": "ha-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Rete Setting",
        "entityConfig": "9242ea67a6bc740a",
        "version": 0,
        "state": "Centralina Rete Setting",
        "stateType": "str",
        "attributes": [
            { "property": "MAC", "value": "payload[1]", "valueType": "msg" },
            { "property": "Nome centrale", "value": "payload[3]", "valueType": "msg" },
            { "property": "Indirizzo IP", "value": "payload[5]", "valueType": "msg" },
            { "property": "Gateway", "value": "payload[7]", "valueType": "msg" },
            { "property": "Subnet Mask", "value": "payload[9]", "valueType": "msg" },
            { "property": "DNS primario", "value": "payload[11]", "valueType": "msg" },
            { "property": "DNS secondario", "value": "payload[13]", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1890,
        "y": 3860,
        "wires": [[]]
    },
    {
        "id": "027ef9bc968f2bda",
        "type": "http request",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.170:80/Update.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 5660,
        "wires": [["83b59afca6e5a016"]]
    },
    { "id": "83b59afca6e5a016", "type": "html", "z": "0d84a5828dbaa0cb", "name": "", "property": "payload", "outproperty": "payload", "tag": "div", "ret": "html", "as": "single", "x": 810, "y": 5720, "wires": [["4240921ad001aea1"]] },
    { "id": "4240921ad001aea1", "type": "html", "z": "0d84a5828dbaa0cb", "name": "", "property": "payload[6]", "outproperty": "payload", "tag": "p", "ret": "html", "as": "single", "x": 810, "y": 5780, "wires": [["70fe0423ef2b3e77"]] },
    { "id": "c32cdb7011e317b9", "type": "comment", "z": "0d84a5828dbaa0cb", "name": "/Update.htm", "info": "", "x": 830, "y": 5620, "wires": [] },
    {
        "id": "bf35125cae0bf75d",
        "type": "inject",
        "z": "0d84a5828dbaa0cb",
        "name": "timestamp +20s +1h",
        "props": [{ "p": "payload" }, { "p": "method", "v": "GET", "vt": "str" }, { "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "4800",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1120,
        "y": 3620,
        "wires": [["2a176fdd34b36e6a"]]
    },
    {
        "id": "96338327166be533",
        "type": "inject",
        "z": "0d84a5828dbaa0cb",
        "name": "timestamp +10s +1h",
        "props": [{ "p": "payload" }, { "p": "method", "v": "GET", "vt": "str" }, { "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1140,
        "y": 2300,
        "wires": [["ccf1c4ee461b500b"]]
    },
    {
        "id": "2478d3c9f468ae50",
        "type": "inject",
        "z": "0d84a5828dbaa0cb",
        "name": "timestamp +30s +1h",
        "props": [{ "p": "payload" }, { "p": "method", "v": "GET", "vt": "str" }, { "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "5400",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1220,
        "y": 4540,
        "wires": [["a53541f8723e8d56"]]
    },
    {
        "id": "78b9e7c2b674a53c",
        "type": "inject",
        "z": "0d84a5828dbaa0cb",
        "name": "timestamp +40s +1h",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }, { "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "6000",
        "crontab": "",
        "once": true,
        "onceDelay": "40",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 5660,
        "wires": [["027ef9bc968f2bda"]]
    },
    {
        "id": "70fe0423ef2b3e77",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Versione",
        "rules": [
            { "t": "change", "p": "payload[0]", "pt": "msg", "from": "Effettuare l&#x2019;upgrade solo se necessario e con firmware certificati.<br/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0]", "pt": "msg", "from": "procedura di aggiornamento pu&#xF2; rendere la centrale inutilizzabile.", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0]", "pt": "msg", "from": "<b class=\"warn\">Attenzione :</b> un errore durante la ", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0]", "pt": "msg", "from": "<input id=\"overtime\" style=\"display:none\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0]", "pt": "msg", "from": "\\n", "fromt": "re", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0]", "pt": "msg", "from": "<br/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0]", "pt": "msg", "from": "\t", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0]", "pt": "msg", "from": "        ", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0]", "pt": "msg", "from": "      ", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0]", "pt": "msg", "from": "Versione", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0]", "pt": "msg", "from": " firmware", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0]", "pt": "msg", "from": " Webpage", "fromt": "str", "to": "Webpage", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 5740,
        "wires": [["132a04d20eb1378b"]]
    },
    {
        "id": "faa91504acf12660",
        "type": "ha-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Versione",
        "entityConfig": "a7154fcd0845fe07",
        "version": 0,
        "state": "Centralina Versione",
        "stateType": "str",
        "attributes": [
            { "property": "Versione", "value": "payload[0]", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1320,
        "y": 5740,
        "wires": [[]]
    },
    {
        "id": "c2dbd7f7ef835306",
        "type": "http request",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.170:80/Email.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1370,
        "y": 4240,
        "wires": [["7d7e67863e12e7f9"]]
    },
    { "id": "7c7591ca5780c82b", "type": "comment", "z": "0d84a5828dbaa0cb", "name": "/Email.htm", "info": "", "x": 1360, "y": 4200, "wires": [] },
    {
        "id": "057c879eb57d7305",
        "type": "inject",
        "z": "0d84a5828dbaa0cb",
        "name": "timestamp +25s +1h",
        "props": [{ "p": "payload" }, { "p": "method", "v": "GET", "vt": "str" }, { "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "5100",
        "crontab": "",
        "once": true,
        "onceDelay": "25",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1120,
        "y": 4160,
        "wires": [["c2dbd7f7ef835306"]]
    },
    { "id": "7d7e67863e12e7f9", "type": "html", "z": "0d84a5828dbaa0cb", "name": "", "property": "payload", "outproperty": "payload", "tag": "td", "ret": "html", "as": "single", "x": 1430, "y": 4300, "wires": [["269755bb2b830740"]] },
    {
        "id": "269755bb2b830740",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Server SMTP",
        "rules": [
            { "t": "change", "p": "payload[1]", "pt": "msg", "from": "\" size=\"48\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[1]", "pt": "msg", "from": "<input name=\"server\" type=\"text\" value=\"", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 4140,
        "wires": [["624012422b5aacd5"]]
    },
    {
        "id": "624012422b5aacd5",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Porta SMTP",
        "rules": [
            { "t": "change", "p": "payload[3]", "pt": "msg", "from": "\" size=\"48\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[3]", "pt": "msg", "from": "<input name=\"port\" type=\"text\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[3]", "pt": "msg", "from": "\" size=\"6\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1750,
        "y": 4180,
        "wires": [["eabb211edb87627f"]]
    },
    {
        "id": "eabb211edb87627f",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Nome utente ",
        "rules": [
            { "t": "change", "p": "payload[5]", "pt": "msg", "from": "\" size=\"48\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[5]", "pt": "msg", "from": "<input name=\"user\" type=\"text\" size=\"48\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[5]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1750,
        "y": 4220,
        "wires": [["3825ecb48d4ee760"]]
    },
    {
        "id": "3825ecb48d4ee760",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Password",
        "rules": [
            { "t": "change", "p": "payload[7]", "pt": "msg", "from": "\" size=\"48\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[7]", "pt": "msg", "from": "<input name=\"pass\" type=\"password\" maxlength=\"24\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[7]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 4260,
        "wires": [["eba8fa737ccd0264"]]
    },
    {
        "id": "eba8fa737ccd0264",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Mittente Email",
        "rules": [
            { "t": "change", "p": "payload[9]", "pt": "msg", "from": "\" size=\"48\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[9]", "pt": "msg", "from": "<input name=\"from\" type=\"text\" size=\"48\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[9]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 4300,
        "wires": [["63b2b3d76b072560"]]
    },
    {
        "id": "63b2b3d76b072560",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Destinatario/i Email",
        "rules": [
            { "t": "change", "p": "payload[11]", "pt": "msg", "from": "\" size=\"48\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[11]", "pt": "msg", "from": "<input name=\"to\" type=\"text\" size=\"48\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[11]", "pt": "msg", "from": "\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 4340,
        "wires": [["3b34268e53503a96"]]
    },
    {
        "id": "7aa4a236e582c2a6",
        "type": "ha-binary-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Porta",
        "entityConfig": "c28dd76ec51f0bc6",
        "version": 0,
        "state": "payload.zones[5].open",
        "stateType": "msg",
        "attributes": [
            { "property": "bypass", "value": "payload.zones[5].bypass", "valueType": "msg" },
            { "property": "lowbat", "value": "payload.zones[5].lowbat", "valueType": "msg" },
            { "property": "type", "value": "payload.zones[5].type", "valueType": "msg" },
            { "property": "fault", "value": "payload.zones[5].fault", "valueType": "msg" },
            { "property": "message", "value": "payload.zones[5].message", "valueType": "msg" },
            { "property": "name", "value": "payload.zones[5].name", "valueType": "msg" },
            { "property": "open", "value": "payload.zones[5].open", "valueType": "msg" },
            { "property": "id", "value": "payload.zones[5].id", "valueType": "msg" },
            { "property": "lastChecked", "value": "payload.zones[5].lastChecked", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1930,
        "y": 1600,
        "wires": [["8c4325cb70b9df42"]]
    },
    {
        "id": "8c4325cb70b9df42",
        "type": "ha-binary-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "batteria Porta",
        "entityConfig": "8d1779dff6502fdb",
        "version": 0,
        "state": "payload.zones[5].lowbat",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2220,
        "y": 1660,
        "wires": [["d4d2543eefe1a44f"]]
    },
    {
        "id": "27a7f2e157671b9e",
        "type": "ha-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Email Setting",
        "entityConfig": "0614cec4f313760d",
        "version": 0,
        "state": "Centralina Email Setting",
        "stateType": "str",
        "attributes": [
            { "property": "Server SMTP", "value": "payload[1]", "valueType": "msg" },
            { "property": "Porta SMTP", "value": "payload[3]", "valueType": "msg" },
            { "property": "Nome utente", "value": "payload[5]", "valueType": "msg" },
            { "property": "Password", "value": "payload[7]", "valueType": "msg" },
            { "property": "Mittente Email", "value": "payload[9]", "valueType": "msg" },
            { "property": "Destinatario", "value": "payload[11]", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2070,
        "y": 4180,
        "wires": [[]]
    },
    {
        "id": "2049a242c020515c",
        "type": "http request",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.170:80/Password.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 5380,
        "wires": [["f17bebc85c9c058a"]]
    },
    { "id": "145baa482ca85d54", "type": "comment", "z": "0d84a5828dbaa0cb", "name": "/Password.htm", "info": "", "x": 820, "y": 5340, "wires": [] },
    {
        "id": "397cca685fb4b802",
        "type": "inject",
        "z": "0d84a5828dbaa0cb",
        "name": "timestamp +35s +1h",
        "props": [{ "p": "payload" }],
        "repeat": "5700",
        "crontab": "",
        "once": true,
        "onceDelay": "35",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 580,
        "y": 5380,
        "wires": [["2049a242c020515c"]]
    },
    { "id": "f17bebc85c9c058a", "type": "html", "z": "0d84a5828dbaa0cb", "name": "", "property": "payload", "outproperty": "payload", "tag": "td", "ret": "html", "as": "single", "x": 870, "y": 5440, "wires": [["a7c13c22ee213d41"]] },
    {
        "id": "a7c13c22ee213d41",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Username Admin Web",
        "rules": [
            { "t": "change", "p": "payload[1]", "pt": "msg", "from": "\" maxlength=\"16\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[1]", "pt": "msg", "from": "<input name=\"AdmName\" type=\"text\" id=\"AdmName\" value=\"", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 5340,
        "wires": [["f910822d0ffcab7e"]]
    },
    {
        "id": "f910822d0ffcab7e",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Password Admin Web",
        "rules": [
            { "t": "change", "p": "payload[3]", "pt": "msg", "from": "<input name=\"AdmPswd\" type=\"password\" value=\"", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[3]", "pt": "msg", "from": "\" id=\"AdmPswd\" maxlength=\"16\"/>", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 5380,
        "wires": [["92cfe3ee48effeb8"]]
    },
    {
        "id": "92cfe3ee48effeb8",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Username Utente Web",
        "rules": [
            { "t": "change", "p": "payload[5]", "pt": "msg", "from": "\" maxlength=\"16\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[5]", "pt": "msg", "from": "<input name=\"MasterName\" type=\"text\" disabled=\"disable\" id=\"MasterName\" value=\"", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 5420,
        "wires": [["a8c54bfe6e5f7a73"]]
    },
    {
        "id": "a8c54bfe6e5f7a73",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Password Utente Web ",
        "rules": [
            { "t": "change", "p": "payload[7]", "pt": "msg", "from": "\" maxlength=\"16\"/>", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[7]", "pt": "msg", "from": "<input name=\"MasterPswd\" type=\"password\" disabled=\"disable\" id=\"MasterPswd\" value=\"", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 5460,
        "wires": [["2d29a61e1db81b39"]]
    },
    {
        "id": "2d29a61e1db81b39",
        "type": "ha-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Password Setting",
        "entityConfig": "a890883e9dd8328b",
        "version": 0,
        "state": "Centralina Password Setting",
        "stateType": "str",
        "attributes": [
            { "property": "Username Admin Web", "value": "payload[1]", "valueType": "msg" },
            { "property": "Password Admin Web", "value": "payload[3]", "valueType": "msg" },
            { "property": "Username Utente Web", "value": "payload[5]", "valueType": "msg" },
            { "property": "Password Utente Web", "value": "payload[7]", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1540,
        "y": 5380,
        "wires": [[]]
    },
    {
        "id": "4cbc1c5c82ce93e5",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica messaggi Loop Restore",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Loop Restore", "fromt": "str", "to": "sensore chiuso ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 560,
        "wires": [["63663533c780a0af"]]
    },
    {
        "id": "63663533c780a0af",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica messaggi Loop Open/Short",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Loop Open/Short", "fromt": "str", "to": "sensore aperto ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 600,
        "wires": [["f6d9005fee3527a3"]]
    },
    {
        "id": "0a91f40502f50932",
        "type": "function",
        "z": "0d84a5828dbaa0cb",
        "name": "stato",
        "func": "msg.payload = msg.payload.status;\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1080,
        "wires": [["253211d51c499777"]]
    },
    {
        "id": "253211d51c499777",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Report Status",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "DISARMED", "fromt": "str", "to": "disarmed", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "ARMED_AWAY", "fromt": "str", "to": "armed_away", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "ARMED_HOME", "fromt": "str", "to": "armed_home", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "TRIGGERED", "fromt": "str", "to": "triggered", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "CANCEL", "fromt": "str", "to": "cancel", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1080,
        "wires": [["c83189a6b88ad88f", "42a2cd4775ad2de1"]]
    },
    {
        "id": "6862d043b1dc1c4f",
        "type": "ha-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Stato Allarme",
        "entityConfig": "a187c3f933cd63b6",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1310,
        "y": 1020,
        "wires": [[]]
    },
    {
        "id": "37c127637ee70e5d",
        "type": "ha-button",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Cancel",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "ae053d233a9db0df",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "CANCEL", "valueType": "str" }],
        "x": 330,
        "y": 420,
        "wires": [["db1de328a0e917b9"]]
    },
    {
        "id": "acead658bf8e1b36",
        "type": "inject",
        "z": "0d84a5828dbaa0cb",
        "name": "timestamp 1.3s",
        "props": [{ "p": "payload" }, { "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "1.3",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 1080,
        "wires": [["2d76fe5f7bfb4d0b", "809c368b98a529ec"]]
    },
    {
        "id": "40f6242a656bc567",
        "type": "function",
        "z": "0d84a5828dbaa0cb",
        "name": "Cerca undefined",
        "func": "if (msg.payload === undefined) {\n    msg.payload = 'errore connessione';\n} else {\n    return false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 880,
        "wires": [["6862d043b1dc1c4f"]]
    },
    {
        "id": "f6d9005fee3527a3",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica messaggi Sistema Parziale",
        "rules": [{ "t": "change", "p": "payload[0].message", "pt": "msg", "from": "Sistema Parziale", "fromt": "str", "to": "Sistema Armato in casa ", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 640,
        "wires": [["5563e18bf3348e46"]]
    },
    {
        "id": "19240809fb5d3ce4",
        "type": "ha-button",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Arma",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "0675911be9a95f2c",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "ARMED_AWAY", "valueType": "str" }],
        "x": 600,
        "y": 420,
        "wires": [["db1de328a0e917b9"]]
    },
    {
        "id": "2fc5c489e3459daf",
        "type": "ha-button",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Disarma",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "465a5e9a07c12d84",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "DISARMED", "valueType": "str" }],
        "x": 610,
        "y": 480,
        "wires": [["db1de328a0e917b9"]]
    },
    {
        "id": "2501756637b3e27e",
        "type": "ha-button",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Arma in casa",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "da4545a2172f41a0",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "ARMED_HOME", "valueType": "str" }],
        "x": 350,
        "y": 480,
        "wires": [["db1de328a0e917b9"]]
    },
    {
        "id": "f46efada282cfee0",
        "type": "http request",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.170:80/RemoteCtr.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 3010,
        "y": 1460,
        "wires": [[]]
    },
    {
        "id": "98b19886c8a226e1",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Elimina redirect",
        "rules": [
            { "t": "set", "p": "followRedirects", "pt": "msg", "to": "false", "tot": "bool" },
            { "t": "set", "p": "followAllRedirects", "pt": "msg", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3000,
        "y": 1380,
        "wires": [["f46efada282cfee0"]]
    },
    {
        "id": "4783b23a34d9f97f",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Cambia payload Enable",
        "rules": [{ "t": "move", "p": "payload.zones[0].bypass", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 960,
        "wires": [["59d9417f5d01507f"]]
    },
    {
        "id": "09c8736183c44a6d",
        "type": "ha-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Cloud Setting",
        "entityConfig": "d9bf71d767ebada9",
        "version": 0,
        "state": "Centralina Cloud Setting",
        "stateType": "str",
        "attributes": [
            { "property": "Indirizzo IP", "value": "payload[11]", "valueType": "msg" },
            { "property": "Porta", "value": "payload[13]", "valueType": "msg" },
            { "property": "ID Centrale", "value": "payload[15]", "valueType": "msg" },
            { "property": "Password", "value": "payload[17]", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1950,
        "y": 3480,
        "wires": [[]]
    },
    {
        "id": "59d9417f5d01507f",
        "type": "ha-switch",
        "z": "0d84a5828dbaa0cb",
        "name": "Bypass Camera letto",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "c96268fbb82ab2cc",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 2540,
        "y": 1000,
        "wires": [["890e166e392f286f"], ["890e166e392f286f"]]
    },
    {
        "id": "890e166e392f286f",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "Ctrl=0&BypassNum=01&BypassOpt=1", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "Ctrl=0&BypassNum=01&BypassOpt=2", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2580,
        "y": 960,
        "wires": [["98b19886c8a226e1"]]
    },
    {
        "id": "143a57c5e787fc21",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "Ctrl=0&BypassNum=02&BypassOpt=1", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "Ctrl=0&BypassNum=02&BypassOpt=2", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2560,
        "y": 1100,
        "wires": [["98b19886c8a226e1"]]
    },
    {
        "id": "a1f130e3949ff9bc",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Cambia payload Enable",
        "rules": [{ "t": "move", "p": "payload.zones[1].bypass", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 1100,
        "wires": [["0d35f0a48d941f0c"]]
    },
    {
        "id": "ae9d09998740c0dd",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "Ctrl=0&BypassNum=03&BypassOpt=1", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "Ctrl=0&BypassNum=03&BypassOpt=2", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2540,
        "y": 1240,
        "wires": [["98b19886c8a226e1"]]
    },
    {
        "id": "051855deccd6ce35",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Cambia payload Enable",
        "rules": [{ "t": "move", "p": "payload.zones[2].bypass", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 1240,
        "wires": [["a07a47124a3776a3"]]
    },
    {
        "id": "0d35f0a48d941f0c",
        "type": "ha-switch",
        "z": "0d84a5828dbaa0cb",
        "name": "Bypass Bagno",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "59273459fa616699",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 2520,
        "y": 1140,
        "wires": [["143a57c5e787fc21"], ["143a57c5e787fc21"]]
    },
    {
        "id": "a07a47124a3776a3",
        "type": "ha-switch",
        "z": "0d84a5828dbaa0cb",
        "name": "Bypass Cucina",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "2892260dbd032322",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 2520,
        "y": 1280,
        "wires": [["ae9d09998740c0dd"], ["ae9d09998740c0dd"]]
    },
    {
        "id": "180a2351b138b1e1",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "Ctrl=0&BypassNum=04&BypassOpt=1", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "Ctrl=0&BypassNum=04&BypassOpt=2", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2540,
        "y": 1380,
        "wires": [["98b19886c8a226e1"]]
    },
    {
        "id": "6b14b38c0aad3de1",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Cambia payload Enable",
        "rules": [{ "t": "move", "p": "payload.zones[3].bypass", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 1380,
        "wires": [["168c742c274c3aea"]]
    },
    {
        "id": "f01c96e5ba5d97ad",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "Ctrl=0&BypassNum=05&BypassOpt=1", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "Ctrl=0&BypassNum=05&BypassOpt=2", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2520,
        "y": 1500,
        "wires": [["98b19886c8a226e1"]]
    },
    {
        "id": "37777606b5484957",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Cambia payload Enable",
        "rules": [{ "t": "move", "p": "payload.zones[4].bypass", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 1500,
        "wires": [["be33c0b3e613a9fa"]]
    },
    {
        "id": "bbf5c385192c803c",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "Ctrl=0&BypassNum=06&BypassOpt=1", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "Ctrl=0&BypassNum=06&BypassOpt=2", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2520,
        "y": 1620,
        "wires": [["98b19886c8a226e1"]]
    },
    {
        "id": "d4d2543eefe1a44f",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Cambia payload Enable",
        "rules": [{ "t": "move", "p": "payload.zones[5].bypass", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 1620,
        "wires": [["da52ee8987eecb81"]]
    },
    {
        "id": "be33c0b3e613a9fa",
        "type": "ha-switch",
        "z": "0d84a5828dbaa0cb",
        "name": "Bypass Studio",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "602d90c6cea8f9d3",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 2510,
        "y": 1540,
        "wires": [["f01c96e5ba5d97ad"], ["f01c96e5ba5d97ad"]]
    },
    {
        "id": "168c742c274c3aea",
        "type": "ha-switch",
        "z": "0d84a5828dbaa0cb",
        "name": "Bypass Bagnetto",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "c539854c3a2a8733",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 2520,
        "y": 1420,
        "wires": [["180a2351b138b1e1"], ["180a2351b138b1e1"]]
    },
    {
        "id": "da52ee8987eecb81",
        "type": "ha-switch",
        "z": "0d84a5828dbaa0cb",
        "name": "Bypass Porta",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "a40a2aa127d11e4f",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 2510,
        "y": 1660,
        "wires": [["bbf5c385192c803c"], ["bbf5c385192c803c"]]
    },
    {
        "id": "b2bf7d04238f296f",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Elimina redirect",
        "rules": [
            { "t": "set", "p": "followRedirects", "pt": "msg", "to": "false", "tot": "bool" },
            { "t": "set", "p": "followAllRedirects", "pt": "msg", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 3720,
        "wires": [["2a176fdd34b36e6a", "7c8af85c4b4f4f05"]]
    },
    {
        "id": "1ac06e5195b06210",
        "type": "http request",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.170:80/Wireless.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1090,
        "y": 4880,
        "wires": [[]]
    },
    {
        "id": "ccc49e531c86dfa8",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Elimina redirect",
        "rules": [
            { "t": "set", "p": "followRedirects", "pt": "msg", "to": "false", "tot": "bool" },
            { "t": "set", "p": "followAllRedirects", "pt": "msg", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 4880,
        "wires": [["1ac06e5195b06210", "7c8af85c4b4f4f05"]]
    },
    {
        "id": "42b76a9db4c20a2a",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Cambia comandi",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": " ", "fromt": "str", "to": "&", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "telecomando", "fromt": "str", "to": "remoteNo", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "sensore", "fromt": "str", "to": "detectorNo", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "uscita", "fromt": "str", "to": "switchNo", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "sens_codice", "fromt": "str", "to": "detector", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "uscita_codice", "fromt": "str", "to": "switch", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "tel_codice", "fromt": "str", "to": "remote", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 4840,
        "wires": [["ccc49e531c86dfa8"]]
    },
    {
        "id": "69eba7296d4c4757",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Elimina redirect",
        "rules": [
            { "t": "set", "p": "followRedirects", "pt": "msg", "to": "false", "tot": "bool" },
            { "t": "set", "p": "followAllRedirects", "pt": "msg", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 4240,
        "wires": [["c2dbd7f7ef835306", "7c8af85c4b4f4f05"]]
    },
    {
        "id": "4fba5eb8744604b4",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Elimina redirect",
        "rules": [
            { "t": "set", "p": "followRedirects", "pt": "msg", "to": "false", "tot": "bool" },
            { "t": "set", "p": "followAllRedirects", "pt": "msg", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 4620,
        "wires": [["a53541f8723e8d56", "7c8af85c4b4f4f05"]]
    },
    {
        "id": "499cfdf6556a3e27",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Cambia comandi",
        "rules": [{ "t": "change", "p": "payload", "pt": "msg", "from": " ", "fromt": "str", "to": "&", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 4200,
        "wires": [["69eba7296d4c4757"]]
    },
    {
        "id": "c1309d4ea417d4b8",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Cambia comandi",
        "rules": [{ "t": "change", "p": "payload", "pt": "msg", "from": " ", "fromt": "str", "to": "&", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 4580,
        "wires": [["4fba5eb8744604b4"]]
    },
    {
        "id": "5cc674e10e62a074",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Cambia comandi",
        "rules": [{ "t": "change", "p": "payload", "pt": "msg", "from": " ", "fromt": "str", "to": "&", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 3680,
        "wires": [["b2bf7d04238f296f"]]
    },
    {
        "id": "d9bad5fe069b3153",
        "type": "comment",
        "z": "0d84a5828dbaa0cb",
        "name": "Info sensori",
        "info": "DISABILITATA: il sensore non genera nessun allarme. Utile per interventi di manutenzione o guasti\nmomentaneamente non risolvibili.\n\nRITARDATA: per applicare un ritardo dallinnesco del sensore alleffettivo allarme. Attiva sia con armato totale\nche parziale.\n\nPERIMETRALE: per linnesco immediato al sollecito del sensore. Attiva sia con armato totale che parziale.\nINTERNA: per linnesco immediato al sollecito del sensore, abilitato solo con il programma totale.\n\nEMERGENZA: definita anche antipanico, genera un allarme silenzioso per lavviso di eventuali tentativi di\nrapina o malesseri.\n\nATTIVA 24 ORE: per linnesco di un allarme anche a centrale disarmata, solitamente utilizzata per i contatti\nantimanomissione dei dispositivi filari.\n\nINCENDIO: dedicata al sensore fumo, per il riconoscimento di un emergenza anche a centrale disarmata.\n\nCHIAVI: zona specifica per inseritori di tipo filari con chiave magnetica o di prossimit.",
        "x": 1950,
        "y": 920,
        "wires": []
    },
    {
        "id": "ccc0f28eeab6f5e5",
        "type": "comment",
        "z": "0d84a5828dbaa0cb",
        "name": "info impostazioni",
        "info": "RITARDO ENTRATA: Tempo a\ndisposizione per disarmare la\ncentrale quando uno dei sensori\nimpostato come Ritardato \nstato attivato. Di default\n impostato a 10 secondi.\n\nRITARDO USCITA: Tempo a\ndisposizione per abbandonare\ni locali quando si inserisce il\nsistema di Armato Totale. Di\ndefault  impostato a 10 secondi.\n\nDURATA SIRENA: Tempo di\nattivazione della sirena. Di default\n impostato a 5 minuti.\n\nSUPERVISIONE: Si pu impostare\nun intervallo di tempo che la\ncentrale utilizzer per fare i\ncontrolli ciclici sul funzionamento\ndei dispositivi wireless. Se in\nquesta finestra di tempo la\ncentrale non riceve il segnale dai\ntrasmettitori radio li considerer\nguasti. Di fabbrica questo intervallo di tempo  impostato a 0 (disabilitato) ma si pu impostare tra 0 e\n99 ore (in tal caso si raccomanda un valore superiore a 24 ore).\n\nAC OFF: Tempo di attesa prima che la centrale invii una notifica a seguito della mancanza di corrente\nelettrica (220v). Di default  impostato a 30 minuti.\n\nCOMUNICAZIONE: funzione riservata a istituti di vigilanza privata o CMS. Di default  impostato su 0.\n\nRIPETIZIONE DI STATO: Se attivato, la sirena esterna genera un suono ed un flash ad ogni armamento e\ndisarmamento.\n\nREPORT DI STATO: funzione riservata a istituti di vigilanza privata o CMS. Di default  disattivato.\n\nARMAMENTO FORZATO: Se attivato, nel caso in cui sul display della centrale sia presente un messaggio\ndi stato (batteria scarica, perdita segnale, finestra aperta, ecc..) il comando di armamento andr a buon\nfine. Questa situazione non si presenta in caso di armamento parziale.\n\nCONTROLLO SENSORI APERTI: Se attivato, mostra sul display della centrale il sensore magnetico che\nrisulta aperto quando, per esempio, si lascia una finestra aperta. Di default  disattivato.\n\nCONTROLLO TAMPER: Se attivato, quando un sensore viene manomesso far scattare lallarme, anche a\ncentrale disarmata. Di default  disattivato.\n\nLIMITE ALLARMI SU SENSORI: Se attivato, un sensore pu generare fino ad un massimo di 3 allarmi dello\nstesso evento. Di default  disattivato.",
        "x": 2080,
        "y": 2640,
        "wires": []
    },
    {
        "id": "aa66238d2a1ff757",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Elimina redirect",
        "rules": [
            { "t": "set", "p": "followRedirects", "pt": "msg", "to": "false", "tot": "bool" },
            { "t": "set", "p": "followAllRedirects", "pt": "msg", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3180,
        "wires": [["a1ca3f82da033447", "7c8af85c4b4f4f05"]]
    },
    {
        "id": "a8b99cb8a9c4f41a",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Cambia comandi",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "tentativi", "fromt": "str", "to": "DialCnt", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "telefono", "fromt": "str", "to": "Phone", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "password", "fromt": "str", "to": "pwd", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 3140,
        "wires": [["aa66238d2a1ff757"]]
    },
    {
        "id": "4d02fc522ab2cf51",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Elimina redirect",
        "rules": [
            { "t": "set", "p": "followRedirects", "pt": "msg", "to": "false", "tot": "bool" },
            { "t": "set", "p": "followAllRedirects", "pt": "msg", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 2400,
        "wires": [["ccf1c4ee461b500b", "7c8af85c4b4f4f05"]]
    },
    {
        "id": "c6c3ac47c1ed985c",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Cambia comandi",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": " ", "fromt": "str", "to": "&", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "telecomando", "fromt": "str", "to": "remoteNo", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "sensore", "fromt": "str", "to": "detectorNo", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "uscita", "fromt": "str", "to": "switchNo", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "sens_codice", "fromt": "str", "to": "detector", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "uscita_codice", "fromt": "str", "to": "switch", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "tel_codice", "fromt": "str", "to": "remote", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": ";", "fromt": "str", "to": "&", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 2360,
        "wires": [["4d02fc522ab2cf51"]]
    },
    {
        "id": "7c8af85c4b4f4f05",
        "type": "ha-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Ultimo comando",
        "entityConfig": "80727a70e09eef0b",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [{ "property": "last_updated", "value": "$now('[D01].[M01].[Y0001] [H01]:[m01]:[s01]', '+0100')", "valueType": "jsonata" }],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 240,
        "y": 3980,
        "wires": [[]]
    },
    {
        "id": "ba53d64ce98039be",
        "type": "http request",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.170:80/Zone.htm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1090,
        "y": 5140,
        "wires": [[]]
    },
    {
        "id": "84f37bc789c262c9",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Elimina redirect",
        "rules": [
            { "t": "set", "p": "followRedirects", "pt": "msg", "to": "false", "tot": "bool" },
            { "t": "set", "p": "followAllRedirects", "pt": "msg", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 5140,
        "wires": [["ba53d64ce98039be", "7c8af85c4b4f4f05"]]
    },
    {
        "id": "ad716f6548c84b16",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Cambia comandi",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": " ", "fromt": "str", "to": "&", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "nome=", "fromt": "str", "to": "ZoneName=", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "numero=", "fromt": "str", "to": "zoneNo=", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "sirena=", "fromt": "str", "to": "ZoneBell=", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "tipo=", "fromt": "str", "to": "ZoneType=", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 5100,
        "wires": [["84f37bc789c262c9"]]
    },
    {
        "id": "5563e18bf3348e46",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica telecomandi 1",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "42", "fromt": "str", "to": "Telecomando 1", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 220,
        "wires": [["4a6ec2e7e18453a5"]]
    },
    {
        "id": "6e0141b6aced5d57",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica telecomando 5",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "46", "fromt": "str", "to": "tramite Telecomando 5", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 380,
        "wires": [["afed27253ed8ef20"]]
    },
    {
        "id": "4a6ec2e7e18453a5",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica telecomando 2",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "43", "fromt": "str", "to": "tramite Telecomando 2", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 260,
        "wires": [["7355030b3851c26b"]]
    },
    {
        "id": "b951b6eb941f7161",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica messaggi web",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "70", "fromt": "str", "to": "tramite App", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 620,
        "wires": [["bd4334227d7f0545"]]
    },
    {
        "id": "7355030b3851c26b",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica telecomando 3",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "44", "fromt": "str", "to": "tramite Telecomando 3", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 300,
        "wires": [["26476ce4d7b384a9"]]
    },
    {
        "id": "26476ce4d7b384a9",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica telecomando 4",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "45", "fromt": "str", "to": "tramite Telecomando 4", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 340,
        "wires": [["6e0141b6aced5d57"]]
    },
    {
        "id": "afed27253ed8ef20",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica telecomando 6",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "47", "fromt": "str", "to": "tramite Telecomando 6", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 420,
        "wires": [["3b43d12eb4e1d083"]]
    },
    {
        "id": "3b43d12eb4e1d083",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica telecomando 7",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "48", "fromt": "str", "to": "tramite Telecomando 7", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 460,
        "wires": [["c8d3cc029f6f50ec"]]
    },
    {
        "id": "bd4334227d7f0545",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Elimina\\Cambia numero sensore",
        "rules": [
            { "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "1", "fromt": "str", "to": "Davide", "tot": "str" },
            { "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "2", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "3", "fromt": "str", "to": "Emanuele", "tot": "str" },
            { "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "4", "fromt": "str", "to": "Maurizio", "tot": "str" },
            { "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "5", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "6", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "7", "fromt": "str", "to": "", "tot": "str" },
            { "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "0", "fromt": "str", "to": "", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1940,
        "y": 620,
        "wires": [["e5ac69426b2c587e"]]
    },
    {
        "id": "05dcdbf66da1f276",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica Tastiera centrale",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "90", "fromt": "str", "to": "tramite Tastiera centrale", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 580,
        "wires": [["b951b6eb941f7161"]]
    },
    {
        "id": "c8d3cc029f6f50ec",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "modifica telecomando 8",
        "rules": [{ "t": "change", "p": "payload[0].zone", "pt": "msg", "from": "49", "fromt": "str", "to": "tramite Telecomando 8", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 500,
        "wires": [["05dcdbf66da1f276"]]
    },
    {
        "id": "ee7f365253794d17",
        "type": "ha-button",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Update Option",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "0354f1bb7071ad77",
        "outputProperties": [
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "date" },
            { "property": "method", "propertyType": "msg", "value": "GET", "valueType": "str" },
            { "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }
        ],
        "x": 1150,
        "y": 2240,
        "wires": [["ccf1c4ee461b500b"]]
    },
    {
        "id": "f344111d7a750a9d",
        "type": "ha-button",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Update UserPhone",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "0fd7b03a0227a665",
        "outputProperties": [
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "date" },
            { "property": "method", "propertyType": "msg", "value": "GET", "valueType": "str" },
            { "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }
        ],
        "x": 1180,
        "y": 3020,
        "wires": [["a1ca3f82da033447"]]
    },
    {
        "id": "7346edfdaf1356c9",
        "type": "ha-button",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Update Network",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "b8c80fa927617b66",
        "outputProperties": [
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "date" },
            { "property": "method", "propertyType": "msg", "value": "GET", "valueType": "str" },
            { "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }
        ],
        "x": 1130,
        "y": 3560,
        "wires": [["2a176fdd34b36e6a"]]
    },
    {
        "id": "2aed591f264aec0d",
        "type": "ha-button",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Update Email",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "78ce723ee5382697",
        "outputProperties": [
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "date" },
            { "property": "method", "propertyType": "msg", "value": "GET", "valueType": "str" },
            { "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }
        ],
        "x": 1110,
        "y": 4100,
        "wires": [["c2dbd7f7ef835306"]]
    },
    {
        "id": "6a461837f19e193d",
        "type": "ha-button",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Update AlarmEvent",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "622d65627b56d430",
        "outputProperties": [
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "date" },
            { "property": "method", "propertyType": "msg", "value": "GET", "valueType": "str" },
            { "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }
        ],
        "x": 1220,
        "y": 4480,
        "wires": [["a53541f8723e8d56"]]
    },
    {
        "id": "09fb9d223011beb2",
        "type": "ha-button",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Update Password",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "d5b9fac84ef548ea",
        "outputProperties": [
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "date" },
            { "property": "method", "propertyType": "msg", "value": "GET", "valueType": "str" }
        ],
        "x": 560,
        "y": 5320,
        "wires": [["2049a242c020515c"]]
    },
    {
        "id": "76b468c5c28b47e6",
        "type": "ha-button",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Update Versione",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "f9cc6903dcdb1edf",
        "outputProperties": [
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "date" },
            { "property": "method", "propertyType": "msg", "value": "GET", "valueType": "str" },
            { "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }
        ],
        "x": 620,
        "y": 5560,
        "wires": [["027ef9bc968f2bda"]]
    },
    {
        "id": "4b5538c2b892459c",
        "type": "http request",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.170:80/reboot.cgi",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 1960,
        "wires": [[]]
    },
    {
        "id": "4a9311020cf99e83",
        "type": "ha-button",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Reboot",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "9825c13c1ff23a11",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "str" }],
        "x": 590,
        "y": 1960,
        "wires": [["4b5538c2b892459c"]]
    },
    {
        "id": "369d9af5f5d5a8b8",
        "type": "function",
        "z": "0d84a5828dbaa0cb",
        "name": "timeConvert",
        "func": "var country = \"it-IT\";\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(\"it-IT\")\nvar time = new Date(lastchecked).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2050,
        "y": 2420,
        "wires": [["df6798df849db5b1"]]
    },
    {
        "id": "22e9892547146f3a",
        "type": "function",
        "z": "0d84a5828dbaa0cb",
        "name": "timeConvert",
        "func": "var country = \"it-IT\";\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(\"it-IT\")\nvar time = new Date(lastchecked).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2052,
        "y": 2730,
        "wires": [["c6935b059e2b1f2c"]]
    },
    {
        "id": "2d69b3bf4c09953f",
        "type": "function",
        "z": "0d84a5828dbaa0cb",
        "name": "timeConvert",
        "func": "var country = \"it-IT\";\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(\"it-IT\")\nvar time = new Date(lastchecked).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 3420,
        "wires": [["09c8736183c44a6d"]]
    },
    {
        "id": "48db3c0fe4a4e9fa",
        "type": "function",
        "z": "0d84a5828dbaa0cb",
        "name": "timeConvert",
        "func": "var country = \"it-IT\";\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(\"it-IT\")\nvar time = new Date(lastchecked).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1911,
        "y": 3212,
        "wires": [["c3c95cbf216162cb"]]
    },
    {
        "id": "1e87a63adbc8140b",
        "type": "function",
        "z": "0d84a5828dbaa0cb",
        "name": "timeConvert",
        "func": "var country = \"it-IT\";\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(\"it-IT\")\nvar time = new Date(lastchecked).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 3800,
        "wires": [["0cfbad5dae7bde57"]]
    },
    {
        "id": "b874233b724673c7",
        "type": "function",
        "z": "0d84a5828dbaa0cb",
        "name": "timeConvert",
        "func": "var country = \"it-IT\";\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(\"it-IT\")\nvar time = new Date(lastchecked).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 4620,
        "wires": [["3708716a72381234"]]
    },
    {
        "id": "132a04d20eb1378b",
        "type": "function",
        "z": "0d84a5828dbaa0cb",
        "name": "timeConvert",
        "func": "var country = \"it-IT\";\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(\"it-IT\")\nvar time = new Date(lastchecked).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 5680,
        "wires": [["faa91504acf12660"]]
    },
    {
        "id": "8782e73bc4fe397d",
        "type": "ha-binary-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina SOS/Panico",
        "entityConfig": "e9be16f28869dbea",
        "version": 0,
        "state": "enable",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1590,
        "y": 840,
        "wires": [[]]
    },
    {
        "id": "bb8e4485850b6e8d",
        "type": "ha-binary-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "batteria PIR",
        "entityConfig": "9fec570b7b2350b5",
        "version": 0,
        "state": "payload.zones[6].lowbat",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2210,
        "y": 1800,
        "wires": [["f02a3cf089c0e3cc"]]
    },
    {
        "id": "31c46d1f52e5cbb1",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "Ctrl=0&BypassNum=07&BypassOpt=1", "tot": "str" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "Ctrl=0&BypassNum=07&BypassOpt=2", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2500,
        "y": 1760,
        "wires": [["98b19886c8a226e1"]]
    },
    {
        "id": "f02a3cf089c0e3cc",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "Cambia payload Enable",
        "rules": [{ "t": "move", "p": "payload.zones[6].bypass", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 1760,
        "wires": [["5921abe2fe2d71ee"]]
    },
    {
        "id": "5921abe2fe2d71ee",
        "type": "ha-switch",
        "z": "0d84a5828dbaa0cb",
        "name": "Bypass PIR",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "9519ee48b33f51d5",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 2510,
        "y": 1800,
        "wires": [["31c46d1f52e5cbb1"], ["31c46d1f52e5cbb1"]]
    },
    {
        "id": "3b34268e53503a96",
        "type": "function",
        "z": "0d84a5828dbaa0cb",
        "name": "timeConvert",
        "func": "var country = \"it-IT\";\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(\"it-IT\")\nvar time = new Date(lastchecked).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 4140,
        "wires": [["27a7f2e157671b9e"]]
    },
    {
        "id": "aff1f07c849c13b3",
        "type": "ha-binary-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Assenza corrente",
        "entityConfig": "382f9d4402ac6e8f",
        "version": 0,
        "state": "enable",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1600,
        "y": 800,
        "wires": [[]]
    },
    {
        "id": "b4cd82a9f9749697",
        "type": "function",
        "z": "0d84a5828dbaa0cb",
        "name": "Cerca message Assenza corrente",
        "func": "if (msg.payload[0].message === 'Assenza corrente') {\n    msg.enable = true;\n} else {\n    msg.enable = false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 800,
        "wires": [["aff1f07c849c13b3"]]
    },
    {
        "id": "09c504eb6f1b29ee",
        "type": "ha-sensor",
        "z": "0d84a5828dbaa0cb",
        "name": "PIR",
        "entityConfig": "b7f180c28d71c281",
        "version": 0,
        "state": "payload.zones[6].status",
        "stateType": "msg",
        "attributes": [
            { "property": "bypass", "value": "payload.zones[6].bypass", "valueType": "msg" },
            { "property": "lowbat", "value": "payload.zones[6].lowbat", "valueType": "msg" },
            { "property": "type", "value": "payload.zones[6].type", "valueType": "msg" },
            { "property": "fault", "value": "payload.zones[6].fault", "valueType": "msg" },
            { "property": "message", "value": "payload.zones[6].message", "valueType": "msg" },
            { "property": "name", "value": "payload.zones[6].name", "valueType": "msg" },
            { "property": "id", "value": "payload.zones[6].id", "valueType": "msg" },
            { "property": "lastChecked", "value": "payload.zones[6].lastChecked", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1930,
        "y": 1760,
        "wires": [["bb8e4485850b6e8d"]]
    },
    {
        "id": "567536967a5c7402",
        "type": "function",
        "z": "0d84a5828dbaa0cb",
        "name": "Cerca message PIR",
        "func": "if (msg.payload.zones[6].message === 'zone alarm') {\n    msg.payload.zones[6].status = 'Innescato';\n} else {\n    msg.payload.zones[6].status = msg.payload.zones[6].message;\n\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 1760,
        "wires": [["09c504eb6f1b29ee"]]
    },
    {
        "id": "10b22e798412c516",
        "type": "ha-text",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina UserPhone Input",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "da885884a1c341c8",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "value" }],
        "x": 640,
        "y": 3140,
        "wires": [["a8b99cb8a9c4f41a", "0d60a26c7f8965a6"]]
    },
    {
        "id": "929276c71bf2634c",
        "type": "ha-text",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Network Input",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "ee5bf028a68dceb8",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "value" }],
        "x": 590,
        "y": 3680,
        "wires": [["5cc674e10e62a074", "870120c3177375cf"]]
    },
    {
        "id": "3b8c815432f9b362",
        "type": "ha-text",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Email Input",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "f58ab88c205855e3",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "value" },
            { "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" },
            { "property": "method", "propertyType": "msg", "value": "POST", "valueType": "str" }
        ],
        "x": 540,
        "y": 4200,
        "wires": [["499cfdf6556a3e27", "dcf4181372822c24"]]
    },
    {
        "id": "d7102edb7561f036",
        "type": "ha-text",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina APN Input",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "1cd1d8442a3d28a4",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "value" }],
        "x": 540,
        "y": 4580,
        "wires": [["c1309d4ea417d4b8", "b0ca4ec20fc52167"]]
    },
    {
        "id": "20988e1fd19f6406",
        "type": "ha-text",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Wireless Input",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "890e4068c61a21fe",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "value" }],
        "x": 550,
        "y": 4840,
        "wires": [["42b76a9db4c20a2a", "7810c4a69abb95eb"]]
    },
    {
        "id": "bab9c94b43dbefb7",
        "type": "ha-text",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Zone Input",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "43e18274bb648b1f",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "value" }],
        "x": 600,
        "y": 5100,
        "wires": [["ad716f6548c84b16", "d3c1e523e953a34a"]]
    },
    {
        "id": "adff0cff0a1f85f1",
        "type": "ha-text",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina CloudSetting Input",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "aa3911768117bcaf",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "value" }],
        "x": 640,
        "y": 3100,
        "wires": [["a8b99cb8a9c4f41a", "0d60a26c7f8965a6"]]
    },
    {
        "id": "8f2a6449125bb870",
        "type": "ha-text",
        "z": "0d84a5828dbaa0cb",
        "name": "Centralina Option Input",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "df0e4744bd1a71eb",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "value" }],
        "x": 600,
        "y": 2360,
        "wires": [["c6c3ac47c1ed985c", "c22869a404884185"]]
    },
    {
        "id": "dcf4181372822c24",
        "type": "delay",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 4320,
        "wires": [["76794a5e08106960"]]
    },
    {
        "id": "76794a5e08106960",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "rules": [
            { "t": "set", "p": "method", "pt": "msg", "to": "GET", "tot": "str" },
            { "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "date" },
            { "t": "set", "p": "lastchecked", "pt": "msg", "to": "", "tot": "date" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 4320,
        "wires": [["c2dbd7f7ef835306"]]
    },
    {
        "id": "9d96bf106cab093d",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "rules": [
            { "t": "set", "p": "method", "pt": "msg", "to": "GET", "tot": "str" },
            { "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "date" },
            { "t": "set", "p": "lastchecked", "pt": "msg", "to": "", "tot": "date" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 3780,
        "wires": [["2a176fdd34b36e6a"]]
    },
    {
        "id": "870120c3177375cf",
        "type": "delay",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 3780,
        "wires": [["9d96bf106cab093d"]]
    },
    {
        "id": "eb310efad176f25b",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "rules": [
            { "t": "set", "p": "method", "pt": "msg", "to": "GET", "tot": "str" },
            { "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "date" },
            { "t": "set", "p": "lastchecked", "pt": "msg", "to": "", "tot": "date" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 3240,
        "wires": [["a1ca3f82da033447"]]
    },
    {
        "id": "0d60a26c7f8965a6",
        "type": "delay",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 3240,
        "wires": [["eb310efad176f25b"]]
    },
    {
        "id": "aac9aaf61f7aa67e",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "rules": [
            { "t": "set", "p": "method", "pt": "msg", "to": "GET", "tot": "str" },
            { "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "date" },
            { "t": "set", "p": "lastchecked", "pt": "msg", "to": "", "tot": "date" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 2460,
        "wires": [["ccf1c4ee461b500b"]]
    },
    {
        "id": "c22869a404884185",
        "type": "delay",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 2460,
        "wires": [["aac9aaf61f7aa67e"]]
    },
    {
        "id": "fb3e7f219a098fb0",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "rules": [
            { "t": "set", "p": "method", "pt": "msg", "to": "GET", "tot": "str" },
            { "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "date" },
            { "t": "set", "p": "lastchecked", "pt": "msg", "to": "", "tot": "date" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 4680,
        "wires": [["a53541f8723e8d56"]]
    },
    {
        "id": "b0ca4ec20fc52167",
        "type": "delay",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 4680,
        "wires": [["fb3e7f219a098fb0"]]
    },
    {
        "id": "979477d24ba15e9f",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "rules": [
            { "t": "set", "p": "method", "pt": "msg", "to": "GET", "tot": "str" },
            { "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "date" },
            { "t": "set", "p": "lastchecked", "pt": "msg", "to": "", "tot": "date" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 4940,
        "wires": [["1ac06e5195b06210"]]
    },
    {
        "id": "7810c4a69abb95eb",
        "type": "delay",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 4940,
        "wires": [["979477d24ba15e9f"]]
    },
    {
        "id": "0f85f6b4ce3efa09",
        "type": "change",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "rules": [
            { "t": "set", "p": "method", "pt": "msg", "to": "GET", "tot": "str" },
            { "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "date" },
            { "t": "set", "p": "lastchecked", "pt": "msg", "to": "", "tot": "date" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 5180,
        "wires": [["ba53d64ce98039be"]]
    },
    {
        "id": "d3c1e523e953a34a",
        "type": "delay",
        "z": "0d84a5828dbaa0cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 5180,
        "wires": [["0f85f6b4ce3efa09"]]
    },
    { "id": "617ddfd5.c639a", "type": "ialarm-server", "host": "192.168.1.170", "port": "80", "username": "admin", "password": "012345", "zones": "8" },
    {
        "id": "c851cc16.b7689",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "core-mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "779b93e72e4a751d",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera letto",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "Camera letto" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "window" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "0540267783e8e6f3",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Bagno",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "Bagno" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "window" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "1e805f8d047dd248",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Cucina",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "Cucina" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "window" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "537e43dfc182bae3",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Bagnetto",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "Bagnetto" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "window" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "cffb3f8348d3e7db",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Studio",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "Studio" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "window" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "08e4c0f22a60833d",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "batteria Studio",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "batteria Studio" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "battery" }
        ],
        "resend": true
    },
    {
        "id": "dad9b7d3b01569e5",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "batteria Bagnetto",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "batteria Bagnetto" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "battery" }
        ],
        "resend": true
    },
    {
        "id": "eb3ca4e20677d1a9",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "batteria Cucina",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "batteria Cucina" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "battery" }
        ],
        "resend": true
    },
    {
        "id": "d16d287ceba206d6",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "batteria Camera letto",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "batteria Camera letto" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "battery" }
        ],
        "resend": true
    },
    {
        "id": "7b4a579a338bd351",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "batteria Bagno",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "batteria Bagno" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "battery" }
        ],
        "resend": true
    },
    {
        "id": "c2e227a8.d7a3b8",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Registro",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Registro" },
            { "property": "icon", "value": "mdi:format-list-bulleted-type" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "cc2c45217d90dcd4",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina GPRS Setting",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina GPRS Setting" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "ed1333ab76c3784c",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Opzioni Allarme",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Opzioni Allarme" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "f0417423b7a10ab8",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Opzioni Sistema",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Opzioni Sistema" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "996820ecd152208d",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Numeri Allarme",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Numeri Allarme" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "9242ea67a6bc740a",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Rete Setting",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Rete Setting" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "a7154fcd0845fe07",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Versione",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Versione" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "c28dd76ec51f0bc6",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Porta",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "Porta" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "door" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "8d1779dff6502fdb",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "batteria Porta",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "batteria Porta" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "battery" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "0614cec4f313760d",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Email Setting",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Email Setting" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "a890883e9dd8328b",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Password Setting",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Password Setting" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "a187c3f933cd63b6",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Stato Allarme",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Stato Allarme" },
            { "property": "icon", "value": "mdi:list-status" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "ae053d233a9db0df",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Cancel",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Cancel" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "0675911be9a95f2c",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Arma",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Arma" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "465a5e9a07c12d84",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Disarma",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Disarma" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "da4545a2172f41a0",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Arma in casa",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Arma in casa" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "d9bf71d767ebada9",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Cloud Setting",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Cloud Setting" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "c96268fbb82ab2cc",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Bypass Camera letto",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Bypass Camera letto" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false
    },
    {
        "id": "59273459fa616699",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Bypass Bagno",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Bypass Bagno" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false
    },
    {
        "id": "2892260dbd032322",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Bypass Cucina",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Bypass Cucina" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false
    },
    {
        "id": "602d90c6cea8f9d3",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Bypass Studio",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Bypass Studio" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false
    },
    {
        "id": "c539854c3a2a8733",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Bypass Bagnetto",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Bypass Bagnetto" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false
    },
    {
        "id": "a40a2aa127d11e4f",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Bypass Porta",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Bypass Porta" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "80727a70e09eef0b",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Ultimo comando",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Ultimo comando" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "diagnostic" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "0354f1bb7071ad77",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Update Option",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Update Option" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "0fd7b03a0227a665",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Update UserPhone",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Update UserPhone" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "b8c80fa927617b66",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Update Network",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Update Network" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "78ce723ee5382697",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Update Email",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Update Email" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "622d65627b56d430",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Update AlarmEvent",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Update AlarmEvent" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "d5b9fac84ef548ea",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Update Password",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Update Password" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "f9cc6903dcdb1edf",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Update Versione",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Update Versione" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "9825c13c1ff23a11",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Reboot",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Centralina Reboot" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "restart" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "e9be16f28869dbea",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina SOS/Panico",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina SOS/Panico" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "running" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "9fec570b7b2350b5",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "batteria PIR",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "batteria PIR" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "battery" }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "9519ee48b33f51d5",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Bypass PIR",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Bypass PIR" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "382f9d4402ac6e8f",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Assenza corrente",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            { "property": "name", "value": "Centralina Assenza corrente" },
            { "property": "icon", "value": "mdi:sine-wave" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "running" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "b7f180c28d71c281",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "PIR",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "PIR" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "da885884a1c341c8",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina UserPhone Input",
        "version": "6",
        "entityType": "text",
        "haConfig": [
            { "property": "name", "value": "Centralina UserPhone Input" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "mode", "value": "text" },
            { "property": "min_length", "value": "" },
            { "property": "max_length", "value": "" },
            { "property": "pattern", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "ee5bf028a68dceb8",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Network Input",
        "version": "6",
        "entityType": "text",
        "haConfig": [
            { "property": "name", "value": "Centralina Network Input" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "mode", "value": "text" },
            { "property": "min_length", "value": "" },
            { "property": "max_length", "value": "" },
            { "property": "pattern", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "f58ab88c205855e3",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Email Input",
        "version": "6",
        "entityType": "text",
        "haConfig": [
            { "property": "name", "value": "Centralina Email Input" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "mode", "value": "text" },
            { "property": "min_length", "value": "" },
            { "property": "max_length", "value": "" },
            { "property": "pattern", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "1cd1d8442a3d28a4",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina APN Input",
        "version": "6",
        "entityType": "text",
        "haConfig": [
            { "property": "name", "value": "Centralina APN Input" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "mode", "value": "text" },
            { "property": "min_length", "value": "" },
            { "property": "max_length", "value": "" },
            { "property": "pattern", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "890e4068c61a21fe",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Wireless Input",
        "version": "6",
        "entityType": "text",
        "haConfig": [
            { "property": "name", "value": "Centralina Wireless Input" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "mode", "value": "text" },
            { "property": "min_length", "value": "" },
            { "property": "max_length", "value": "" },
            { "property": "pattern", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "43e18274bb648b1f",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Zone Input",
        "version": "6",
        "entityType": "text",
        "haConfig": [
            { "property": "name", "value": "Centralina Zone Input" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "mode", "value": "text" },
            { "property": "min_length", "value": "" },
            { "property": "max_length", "value": "" },
            { "property": "pattern", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "aa3911768117bcaf",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina CloudSetting Input",
        "version": "6",
        "entityType": "text",
        "haConfig": [
            { "property": "name", "value": "Centralina CloudSetting Input" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "mode", "value": "text" },
            { "property": "min_length", "value": "" },
            { "property": "max_length", "value": "" },
            { "property": "pattern", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "df0e4744bd1a71eb",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Centralina Option Input",
        "version": "6",
        "entityType": "text",
        "haConfig": [
            { "property": "name", "value": "Centralina Option Input" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "mode", "value": "text" },
            { "property": "min_length", "value": "" },
            { "property": "max_length", "value": "" },
            { "property": "pattern", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "2b77899a.ed9b86",
        "type": "server",
        "name": "homeassistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "statusTimeFormat": "h:m:s",
        "enableGlobalContextStore": false
    }
]
